[2018-10-29 19:28] mediumTaj commented on #463
Thanks Kimberly! This [commit](https://github.com/watson-developer-cloud/unity-sdk/commit/1e6d379d5b4e0cbe3ffe79e5b25665e2110ae29f) sends these query params as lowercase

[2018-10-29 21:01] mediumTaj commented on #444
I cannot reproduce this. Please resubmit if you have steps to reproduce.

[2018-10-29 21:01] #444 closed

[2018-10-29 21:05] JayaSaiSontineni commented on #444
Without providing any solution or contacting back the issue posted person, I don't think it is the right way to close the issue @mediumTaj . Please provide us a better solution and then try to close the issue

[2018-10-29 21:14] mediumTaj commented on #444
@JayaSaiSontineni If you can provide steps to reproduce I may be able to help. Simply submitting a screenshot of the error doesn't help much. I have been using the service without any issues all last week.

[2018-10-30 19:03] ababilinski opened #464 "[natural-language-understanding] entities Resource not found"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2018-10-31 18:33] kimberlysiva opened #468 "[Speech to Text] STT not working on HoloLens .NET"
Tested with Unity 2017.4.13f1 and 2018.2.6f1. In all setting combinations except 2018.2 IL2CPP, the STT web socket connection immediately fails with the following error:

[code]

Apps that were working before are also experiencing this error. This suggests something either changed on the STT service side or the HoloLens. I believe my HoloLens auto-updated since it was last working.

[2018-10-31 19:08] kimberlysiva commented on #468
Update: tested again on 2017.4 with IL2CPP and it worked this time. So this seems to be a .NET specific issue.

[2018-11-01 20:09] davidbaindesign commented on #468
I had this issue today too using unity 2018.1.9f2 with .net in the US south region. I tried upgrading to the 2018.3 beta and using the IAM authentication US East region with .net and had the same issue, works in the editor but not on the hololens. I will try switching to IL2CPP like you did.

[2018-11-09 19:50] ababilinski commented on #464
Seems that the **Model** text is not excluded from the created json request. so the json string that is being posted looks like this
`   "entities": {
      "sentiment": true,
      "limit": 50
      "model": null
    } `

since model is passing a value of  null it prevents the default model from being used.

[2018-11-09 20:49] mediumTaj commented on #464
Thanks for pointing this out! Please see if this works better for you

https://github.com/watson-developer-cloud/unity-sdk/pull/472

It will be included in the next release.

[2018-11-12 14:06] IanPhilips opened #473 "[speech-to-text] 401 unauthorized"
Using the ExampleSpeechToText Gameobject in the Service Examples scene I input my api key (I've tried two different ones supplied from the speech to text dashboad) and Iam Url supplied by the speech to text dashboard and press play.

I always get an unauthorized exception:
` [11/12/2018 13:53:30][RESTConnector.ProcessRequestQueue()][ERROR] URL: https://stream.watsonplatform.net/speech-to-text/api,

[2018-11-12 14:07] IanPhilips commented on #473
The url I use is: https://stream.watsonplatform.net/speech-to-text/api

[2018-11-12 14:11] kimberlysiva commented on #473
I was having the same problem this morning Ian. Try leaving the Iam Url blank, or setting it to "https://iam.bluemix.net/identity/token". Use the stream url in the Service Url field.

@mediumTaj we might want to change the Iam Url label to "Iam Token Url" to avoid confusion.

[2018-11-12 14:15] IanPhilips commented on #473
Hooray! thank you! Yes that name is quite confusing, I am shown the Iam key and url one after another on my dashboard, so I assumed the url I am show is the Iam url.

[2018-11-12 19:58] melyndahoover opened #474 "cannot access Assistant V2 workspace via Unity SDK"
Description: Every time I try to connect to my Watson Assistant workspace using the Unity SDK, I get an error that looks like this:

[RESTConnector.ProcessRequestQueue()][ERROR] URL: https://gateway.watsonplatform.net/assistant/api/v2/assistants/5332aca6-7a09-4485-ae17-be60a002ce39/sessions//message?version=2018-11-08, ErrorCode: 404, Error: 404 Not Found, Response: {"error":"Resource not found","

[2018-11-12 20:32] mediumTaj commented on #474
@melyndahoover Did you post this question?
https://stackoverflow.com/questions/53252527/cannot-authenticate-watson-assistant-credentials-using-unity-sdk

I responded this morning. For Assistant V2 you will need to create a session before you attempt to message.

[code]

Please let me know if this helps

[2018-11-12 21:47] mediumTaj commented on #474
https://github.com/watson-developer-cloud/unity-sdk/pull/475

[2018-11-12 21:57] mediumTaj commented on #473
You got it, PR here https://github.com/watson-developer-cloud/unity-sdk/pull/476

Closing this issue - please let me know if there's any other issues!

[2018-11-12 21:57] #473 closed

[2018-11-12 21:58] mediumTaj commented on #464
@ababilinski have you had a chance to test this fix?

[2018-11-12 23:00] scottdangelo commented on #444
@JayaSaiSontineni I had this problem and it was caused by the microphone on my headset not being active. I recommend that you check the mic, and perhaps the settings in Windows using the Sound Troubleshooter.

[2018-11-13 15:48] mediumTaj commented on #474
@melyndahoover does creating a session before sending message resolve your issue?

[2018-11-13 15:50] mediumTaj commented on #464
The fix above will not sent `"model": null` in the request. Please let me know if you have any more issues.

[2018-11-13 15:50] #464 closed

[2018-11-13 15:53] mediumTaj commented on #284
Thanks @aestiff - from what I can tell even `UnityWebRequest` cannot connect via proxy

https://stackoverflow.com/questions/53213037/rest-connection-using-unitywebrequest-via-proxy/53214048

The team at Unity has confirmed this. I'm trying to find a workaround - if you have any ideas let me know.

[2018-11-13 16:49] mediumTaj opened #477 "[assistant] Add helper to get intents and entities"
Currently it's difficult to extract entities and intents since they are generic objects. It would be great to have an easy way to get intents and entities possibly through helper methods in the model.

### Acceptance Criteria
- [ ] Helper method to get intents
- [ ] Helper method to get entities

[2018-11-13 16:50] #463 closed

[2018-11-13 20:34] ani-rudh opened #478 "[Assistant V2] Incorrect serialization of `MessageRequest`"
Hi! @mediumTaj I have posted a question on Stackoverflow : [https://stackoverflow.com/q/53285545/10647037?sem=2](Question), but I believe  it is also an issue with the Assitant V2 in the SDK. Sorry for the duplication if otherwise!

Can you help with the Skills not being accessible from the Assistant class in Unity SDK Assitant V2? The Queries sent to the Assistant return the same default response

[2018-11-13 21:23] mediumTaj commented on #478
Closing this as I answered in the Stack Overflow post
https://stackoverflow.com/questions/53285545/getting-same-response-to-any-query-in-watson-assitant-v2-watson-unity-sdk

Please continue the conversation in the StackOverflow post

[2018-11-14 16:07] ani-rudh commented on #478
Ok, Posting some queries on stackoverflow then!

[2018-11-15 19:35] mediumTaj commented on #478
Reopening because this a bug in the SDK. I have a [PR](https://github.com/watson-developer-cloud/unity-sdk/pull/480) to address this.

[2018-11-16 23:52] ani-rudh commented on #478
Hi Taj,
I tried the same code with the SDK I pulled from the branch: https://github.com/watson-developer-cloud/unity-sdk/tree/hotfix-assistant-serialization. The issue persists. I get the fallback response no matter what I send. I still cannot see which Skill/Workspace is being used for the responses, niether can I choose which Skill/Workspace to use (Which I believe isn't necesary). Please post a

[2018-11-17 00:34] mediumTaj commented on #478
You can find an example of how to invoke this in the Unit Tests

https://github.com/watson-developer-cloud/unity-sdk/blob/hotfix-assistant-serialization/Scripts/UnitTests/TestAssistantV2.cs#L97-L171

[2018-11-17 20:19] ani-rudh commented on #478
@mediumTaj  Tried that, the same issue!

This makes me doubt if I'm doing something fundamentally wrong OR the Unity SDK isn't correspondingly upgraded to be compatible with the new Assitant-Skill mechanism in the Watson Service.

This is what I observed:
![assitant_](https://user-images.githubusercontent.com/15331399/48665238-70f1c480-eaab-11e8-8d8d-9993f0bfb93a.PNG)

The assistant in my service

[2018-11-18 14:51] mediumTaj commented on #478
It looks like you are trying to use Assistant V1. You will need to pass the context in as you message.

https://github.com/watson-developer-cloud/unity-sdk/blob/develop/Examples/ServiceExamples/Scripts/ExampleAssistantV1.cs#L739-L746

I'm not clear on which version you are trying to use since the first question was about Assistant V2.

In Assistant V1 in order to get the conversation to persist yo

[2018-11-20 23:36] #478 closed

[2018-11-21 08:58] ani-rudh commented on #478
Hi @mediumTaj, I am trying both. Both do not work. If I use my Workspace ID in V1, I still do not get responses. In V2, I create a session and still it dind't work. I ended up trying both and unfortunately couldn't get them to work. I am confused because, as per the pictures I posted previously, My assitant has a different API Url (with V2) and my Workspace/Skill has API Url referring to V1

[2018-12-03 16:55] mediumTaj commented on #474
@melyndahoover Closing this issue. Please reopen if you are still having problems.

[2018-12-03 16:55] #474 closed

[2018-12-03 17:11] mediumTaj commented on #397
Added a note to delete old versions of the SDK before updating the SDK. This will be live in the description next release.

[2018-12-03 17:11] #397 closed

[2018-12-07 18:16] melyndahoover opened #483 "[text-to-speech] Use default URL if none is explicitly supplied"
Watson Text to Speech example throws error when attempting to synthesize:

"[RESTConnector.ProcessRequestQueue()][ERROR] URL: /v1/synthesize?accept=audio%2fwav&voice=en-US_AllisonVoice, ErrorCode: 0, Error: Cannot connect to destination host, Response:
UnityEngine.Debug:LogError(Object)"

[2018-12-07 18:18] mediumTaj commented on #483
Hi, did you populate the iamApikey and service url?

[2018-12-07 20:24] melyndahoover commented on #483
Yes, I have the correct iamApikey. I left the service url blank since I am in the North American service region. The speech to text and assistant examples work fine, but the text to speech does not.

[2018-12-08 00:15] mediumTaj commented on #478
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-08 00:15] mediumTaj commented on #463
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-10 20:45] melyndahoover commented on #483
If it helps, these are the two errors I get, in their entirety.

[12/10/2018 20:42:50][RESTConnector.ProcessRequestQueue()][ERROR] URL: /v1/synthesize?accept=audio%2fwav&voice=en-US_AllisonVoice, ErrorCode: 0, Error: Cannot connect to destination host, Response:
UnityEngine.Debug:LogError(Object)
IBM.Watson.DeveloperCloud.Debug.DebugReactor:ProcessLog(LogRecord) (at Assets/Watson/Scripts/Debug/Deb

[2018-12-13 22:18] mediumTaj commented on #483
I see the issue - we are not using the default URL if no url is supplied. Fix incoming.

[2018-12-13 22:23] mediumTaj commented on #483
Can you please try this when you have a chance?

[2018-12-18 15:36] #483 closed

[2018-12-18 17:37] melyndahoover commented on #483
Yes it works now! Thank you so much!

[2018-12-23 14:55] HjoshM commented on #325
My Scripting Runtime Version in Build Settings is already set to .NET 4.x but I still get this error message... What am I missing?

[2018-12-24 14:07] yosi1202 commented on #447
@mediumTaj
I am trying to make the streaming example work and got the same problem

i am using unity 2018.2.14
watson sdk v2.12.0
on mac

i already tried changing the scripting to .NET 4.x and it didnt solved it

[2018-12-28 14:45] mediumTaj opened #490 "Add null check for WorkspaceId in AssistantV1 Message"
We need to check if the workspaceId is null when invoking the Assistant V1 Message operation.

#### Acceptance criteria
- [ ] Assistant V1 Message operation throws an error if workspaceId is null.

[2018-12-29 11:18] HjoshM commented on #490
@mediumTaj  Thanks for creating this issue. By "_Assistant V1 Message operation_" are you referring to the `OnMessage` event-handling method `private void OnMessage(object response, Dictionary<string, object> customData)`?

[2018-12-29 16:50] mediumTaj commented on #490
No, I mean the code block here

https://github.com/watson-developer-cloud/unity-sdk/blob/bd695cdb44ce9e2b169c3d06de2fcefa2bbd124f/Scripts/Services/Assistant/v1/Assistant.cs#L129-L134

needs to have a null check for workspaceId

[code]

Your call should work if you supply the workspaceId that you get from your skill ("View API Details" button)

[2018-12-29 16:52] mediumTaj commented on #490
If you'd like to put in a pull request with this change (add the lines below line 135 in Assistant.cs) it would be super helpful! Otherwise I will add this when I get a chance.

[2018-12-30 15:57] HjoshM commented on #490
@mediumTaj  Done! Thanks for your help. I will continue posting my questions over on stackoverfflow. I would appreciate your continued help and attention, as I am learning :-)

[2018-12-30 16:08] mediumTaj commented on #490
No problem! Thank you for the pull request!

[2019-01-07 18:24] mediumTaj commented on #432
For those following this issue I've started refactoring for major release in this branch
[code]
Right now I only have Assistant V2 in there but please have a look. Any feedback is welcome!

Currently the biggest change is changing to a single callback for each method and including the error in the callback.

[code]

[2019-01-07 20:42] mediumTaj commented on #284
Complete - All `WWW` has been transitioned to `UnityWebRequest`

[2019-01-07 20:42] #284 closed

[2019-01-08 08:43] syedzainn opened #494 "[Speech to text]Authorization fail"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2019-01-08 08:46] syedzainn commented on #494
I can't get past authorization in Unity, i am using the API Key and URL that can be accessed from "Manage" tab on Watson page.
This is the Error Detail
01/08/2019 08:42:32][RESTConnector.ProcessRequestQueue()][ERROR] URL: https://stream.watsonplatform.net/speech-to-text/api, ErrorCode: 401, Error: HTTP/1.1 401 Unauthorized, Response: {"code":401, "error": "Unauthorized"}
UnityEngine.Debug:LogError

[2019-01-08 15:39] mediumTaj commented on #494
Hi @syedzainn - Can you provide a code sample with what you're trying to do? Are you using the ExampleStreaming scene? What version of Unity and the Watson SDK are you using and where is your speech to text instance located (speech to text service url)?

[2019-01-08 19:40] nataliasb commented on #444
I have this same issue. I have no way of sharing how to reproduce because it was all of a sudden. Everything was working well and now it outputs this error everytime I start my unity project. I have to play and pause multiple times to make it work. I'm on a macbook pro and my mic is working well.

[2019-01-09 10:17] syedzainn commented on #494
Unity 2018.3.0f2
Unity Watson SDK 2.1.2.0
I am using ExampleStreaming script with changes at certain areas for authentication and for assistant.
speech to text instance? i am trying to use the microphone to read audio and convert to text.

Here is the code:

using UnityEngine;
using System.Collections;
using IBM.Watson.DeveloperCloud.Logging;
using IBM.Watson.DeveloperCloud.Services.SpeechToText.v

[2019-01-09 15:17] mediumTaj commented on #494
Hi @syedzainn please remove `_iamTokenUrl`. This is the url for getting the token . It is not the service URL. Since your service is in US South (Dallas) you should be fine not explicitly setting the service URL since Dallas is default.

[code]

[2019-01-10 03:34] syedzainn commented on #494
Hi @mediumTaj ,
i tried it without using the URL and it works. However i am using this in Singapore

[2019-01-10 03:47] mediumTaj commented on #494
Awesome let me know if there are any more issues.

[2019-01-10 03:47] #494 closed

[2019-01-11 07:21] abudriaz opened #498 "Where can I add credentials to the ExampleStreaming script?"
how to add credential in ExampleStreaming script?

[2019-01-11 14:33] mediumTaj commented on #498
For example streaming it's best to add credentials to the GameObject in the inspector. Open the ExampleStreaming scene and click on the ExampleStreaming GameObject in the Hierarchy. In the Inspector you should see public fields exposed for IamApikey and ServiceUrl.

![example-streaming-credentials](https://user-images.githubusercontent.com/4381558/51039763-8b13c480-157b-11e9-8777-c0fb991e88ad.PNG)

[2019-01-11 14:33] #498 closed

[2019-01-11 21:33] 12xq4 opened #499 "Dynamic MessageOutput and missing certificateHandler in Unity 2017.4.18"
Hi, I'd like to ask for some help as I'm encountering an issue while trying to use the Watson SDK in my project.

I have followed through with the steps until I dragged the sdk folder into my Asset folder, then my Unity editor prompted me with three error messages:

- Assets/unity-sdk-develop/Scripts/Connection/RESTConnector.cs(664,35): error CS0246: The type or namespace name `CertificateHandler'

[2019-01-11 21:38] mediumTaj commented on #499
Hi @12xq4 what build target are you set to? Are you using .NET 4.x?
https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

[2019-01-11 22:47] 12xq4 commented on #499
hi @mediumTaj My build target is set to Mac OS X. I wasn't aware that I need to use .Net 4.x (since I'm using an Unity version earlier than 2018.2) and after I made the switch it still didn't work for me.

[2019-01-14 01:06] 12xq4 commented on #499
Thanks for your help. After implementing your suggested fix, it's working now (I had switched back to .Net 3.5 for Scripting Runtime Version and .Net 2.0 Subset for API Compatibility Level).

Just a question though: Would this change hinder the usage of any features? I mainly want to use the speech recognition feature provided by Watson, would omitting Certificate Handler impact this feature?

[2019-01-14 01:20] mediumTaj commented on #499
Sending insecurely is only for IBM Cloud Private which is still in development for the Watson Unity SDK. Glad you have it working.

[2019-01-14 09:14] cocapasteque commented on #325
Same here, using Unity 2018.3.0f2.
Can't get the samples to work.

`[01/14/2019 09:10:39][SpeechToText.CreateListenConnector()][DEBUG] Created listen socket. Model: en-US_BroadbandModel, parsedParams:
[01/14/2019 09:10:39][ExampleStreaming.RecordingHandler()][DEBUG] devices: Microphone (Realtek Audio)
[01/14/2019 09:10:40][SpeechToText.SendStart()][DEBUG] SendStart() with the following params: {"a

[2019-01-14 15:42] mediumTaj commented on #325
@cocapasteque Yes the sdk is still maintained. London endpoint is relatively new. I've had users successfully access it even though we are not explicitly handling it in the SDK. I will patch that up this week though. Are you using .NET 4.x Scripting Runtime?

https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

You can also join our #unity-sdk slack channel in `wdc-community`: ht

[2019-01-14 16:16] cocapasteque commented on #325
@mediumTaj Yes of course I'm using .NET 4.x.
Should I use a different endpoint and test with this ?

Gonna join on slack also :)
Thanks for your answer

[2019-01-14 16:22] cocapasteque commented on #325
@mediumTaj Created a new resource located in Washington DC, still not working.
I'm going to try with a older unity version.

[2019-01-14 16:36] cocapasteque commented on #325
@mediumTaj
Working with 2018.2.0f2, didn't worked with 2018.3.0f2. I really have no idea why.

[2019-01-14 16:46] cocapasteque commented on #325
@mediumTaj Last message in this thread for me, found why it wasn't working...
Scripting Runtime was set on .NET 4.x but the Api Compatibility Level was on .NET Standard 2.0, switched it to 4.x and it worked.

You should at this somewhere in your documentation, not only the Scripting runtime should be on .NET 4.x but also the API Compatibility Level. :) Thank you !

[2019-01-14 17:41] mediumTaj commented on #325
Hmm ok. I’ll add to the readme. I’m glad you got it working!

[2019-01-16 00:42] stormihoebe commented on #324
I have been having this problem for the past 2 days. Any updates on this?

[2019-01-16 01:14] mediumTaj commented on #324
Did this just start happening? It may be a service issue. If you have a way of reproducing please post it here.

[2019-01-16 19:24] stormihoebe commented on #324
@mediumTaj Actually, never mind. It was my own error. Thanks for the response.

[2019-01-21 14:59] mediumTaj commented on #499
Released https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.13.0

[2019-01-21 14:59] #499 closed

[2019-01-22 01:14] anshul1516 opened #507 "[speech-to-text] export ResultsField?"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2019-01-22 15:09] mediumTaj commented on #507
I don't see an issue here. If there is a problem please revise the description and comment and I will reoopen.

[2019-01-22 15:09] #507 closed

[2019-01-30 05:37] rdpeake opened #510 "[Assistant v2] context serialization breaks the api"
Using version: 2.13.2
Also borrowed code from 5fc6c2078f727477a51da047a4261ae40a1373b6

I have set up an assistant using the `Customer Care Sample Skill` example skill and have used `Options = new MessageInputOptions() {ReturnContext = true}` to get the context back from the assistant. When you then send a followup message with the returned content - the Global System context contains null userID'

[2019-01-30 16:49] mediumTaj commented on #510
Hi @rdpeake ,
Can you provide some sample code so I can try to reproduce the issue? The `feature-major-release` branch is still in development and will consist of mainly generated code. It isn't fully working yet.

[2019-01-30 23:44] rdpeake commented on #510
I am aware that the feature-major-release branch is a WIP, however the commit i linked made a change to the existing context code, so i wanted to test if it improved my experience for that situation.

Steps to reproduce error:
Create a new assistant using the `Customer Care Sample Skill` skill
Create new unity project, add watson sdk
Open Service Example sceene
Enable ExampleAssistantV2 object, an

[2019-01-31 12:37] ebrainlg commented on #468
I have the same issue, have you managed to fix it?

[2019-01-31 15:06] davidbaindesign commented on #468
I ended up using Unity 2018.3 with Il2cpp. I had issues with Il2cpp in 2018.1 so I had to upgrade.

[2019-02-01 05:04] tiancaipipi110 opened #511 "Watson Speech-to-text Session timed out and KeepAlive exited."
Hello, SST service is running into Session timed out and KeepAlive exited issues. Is there a way to work around this? Thanks.

[2019-02-04 03:38] #511 closed

[2019-02-05 04:38] rdpeake commented on #510
I've added a `UserDefinedConverter.cs` file to the gist i sent which may help (though may be missing features when it comes to nested dictionaries, or lists)

[2019-02-09 00:50] Jonathanwam opened #515 "[speech-to-text] Infinite Loop on Android when attempting to create credentials for Watson's Speech To Text. while (!credentials.HasIamTokenData())"
I created a simple app to test IBM Watson's Speech To Text. My plan is to deploy an Android app using it. My app works when playing on Unity, but does not work after building and running on my Android device.

Through exploring Logcat on Android Studio, I found that it was hitting an infinite loop in the while loop mentioned in the title. My credentials part of my code is below as well.

Again, it

[2019-02-13 01:58] tiancaipipi110 commented on #325
@mediumTaj Just upgraded and migrated my STT service to resource group using IAM authentication, however STT stops working. See error:
[code]

I'm using Unity 2018.3.0f2, Watson 2.13.2, runtime version .NET4.xEquivalent,  API compatibility level .NET 4.x, `SilenceThreshold=0.0001f`, and` InactivityTimeout = -1`. IAM api key is tested to be valid. I have no idea what else can be wrong in here. Coul

[2019-02-14 13:44] cocapasteque opened #517 "Have to change computer culture to United States to get the right values from Speech to Text service."
We banged our heads on the walls trying to find where this issue was..

Basically our company computers are set to German language. The from and to Timestamps and the confidence value were really weird until we realized this afternoon that we should change the culture of the computer to United State to get the correct values.

I tried to parse the double values from SpeechToText.cs  with culture i

[2019-02-14 15:47] cocapasteque commented on #517
After a lot of investigation, I got it working by modifying the ParseNumber method in MiniJson.cs

[code]

[2019-02-14 16:32] mediumTaj commented on #517
Reopening to look at this in the SDK

[2019-02-14 22:49] ShahSoft commented on #231
@bhenry6 Did you made any progress with this? @mediumTaj Any plans to Add WebGL support in near future? Thanks.

[2019-02-14 22:52] mediumTaj commented on #231
There currently aren’t any plans to get this to work in WebGL. We do accept pull requests if you can get it working though

[2019-02-19 15:05] mediumTaj commented on #515
Sorry for the delay, let me take a look at this today - I had trouble getting hold of an android device

[2019-02-20 09:11] zkaiser opened #519 "Keywords feature missing"
[speech-to-text][v2.15.0][Unity 2018.2.0f2] Including keywords to be detected an error occurs : "Failed to enter listening state", and everything is ok if keywords not set

[2019-02-20 19:22] mediumTaj commented on #519
Hi @zkaiser . Can you post sample code you are using? Did you set `KeywordsThreshold`?

[code]

Keywords is working in the ExampleStreaming scene if you add these two lines to the `Active` setter. If the threshold wasn't set you would see the error:

[2019-02-20 19:50] mediumTaj commented on #517
As I understand it this issue is a limitation of an external dependency. Closing this issue but thanks for pointing out the fix for other users.

[2019-02-20 21:02] mediumTaj commented on #515
What version of android are you publishing to?

[2019-02-20 21:27] mediumTaj commented on #515
Sorry for the delay, I needed to set up my Unity Android environment. I have the `ExampleStreaming` scene working in Android with no issues. This also uses IAM authentication. Can you try this scene and see if it works for you?

[2019-02-20 21:47] mediumTaj commented on #515
I also tried the AssistantV2 example in `ServiceExamples` scene with no issues. Are you using Android prior to 5.0? It looks like TLS 1.2 is not supported in android below 5

https://issuetracker.unity3d.com/issues/the-www-and-unitywebrequest-classes-currently-dont-support-https-tls-1-dot-2-on-android-versions-prior-to-5-dot-0

[2019-02-20 22:27] McGake commented on #345
I seem to be getting the same problem. Seems to happen about one time in thirty with no particular pattern, So might be a timing issue as suggested above. I do not get the WSConnector error. Requesting reopen bug.

[code]

[2019-02-20 22:43] mediumTaj commented on #345
Can you post a sample project or code where I can reproduce the error? I will reopen if you can post some code. I just tried Speech to Text on Android today (for https://github.com/watson-developer-cloud/unity-sdk/issues/515) and everything works fine. How long is the socket open before the error?

[2019-02-20 22:55] Jonathanwam commented on #515
My Android version is 7.0. I tested the ServiceExamples scene on both ExampleAssistantV2 and ExampleSpeechToText. They work fine when running in Unity but I get the same loop problem.

I'll update my phone to the latest version to see if that helps.

[2019-02-20 23:04] mediumTaj commented on #515
Hmm I will try to update my device tomorrow as well. I was testing on Android 5

[2019-02-20 23:09] McGake commented on #345
[code]

If the above represents opening the socket (i don't know much about this) then it looks like it is open for eleven seconds before the error in this particular case. I am basically using a modified version of your example code to trigger recording. But I trigger it in various ways. It would be ugly to post the entire project, so I will try to see if I can narrow it down to something that wi

[2019-02-21 01:02] mediumTaj commented on #345
Do you get the error with the unmodified ExampleStreaming scene?

[2019-02-21 07:18] zkaiser commented on #519
Hi mediumTaj,

I´m using SpeechSandboxStreaming example with this:

 _speechToText.RecognizeModel = "es-ES_NarrowbandModel";//para que reconozca en español -- es-ES_NarrowbandModel -- es-ES_BroadbandModel

List<string> keywords = new List<string>();
keywords.Add("ayuda");
keywords.Add("buscandome");
_speechToText.KeywordsThreshold = 0.1f;
_speechToText.StreamMultipart = false;
_speechToText.Keywor

[2019-02-21 14:47] mediumTaj commented on #517
This issue seems to be popping up frequently the past few days. @cocapasteque would you be able to put in a PR to the Watson Unity SDK with this change to MiniJson.cs?

[2019-02-21 14:48] mediumTaj commented on #519
@zkaiser Can you take a look at this issue https://github.com/watson-developer-cloud/unity-sdk/issues/517

It looks like we need to make an update to an external dependency to specify culture in a serialization script.

[2019-02-21 15:10] cocapasteque commented on #519
Yes I'm gonna do that now :)

[2019-02-21 15:11] cocapasteque commented on #517
Yes I'm gonna do that now :)

[2019-02-21 16:29] mediumTaj commented on #517
fixed with https://github.com/watson-developer-cloud/unity-sdk/pull/520

[2019-02-21 16:29] #517 closed

[2019-02-21 16:30] mediumTaj commented on #519
This should be fixed with https://github.com/watson-developer-cloud/unity-sdk/pull/520. Please comment if you have any more issues with this.

[2019-02-21 16:30] #519 closed

[2019-02-21 18:35] mediumTaj commented on #515
I updated to Android 7.1.1 on my Samsung Galaxy Tab A. I can still connect to Watson Services. Are you still having issues getting IAM token?

[2019-02-23 22:25] k2nt opened #522 "Visual Recognition Classify post image failing. Error code 400"
I am trying to use the Visual Recognition code in Unity. For some reason, when I played the ExampleVisualRecognition scene, I have the following error:

<img width="1117" alt="screen shot 2019-02-23 at 17 06 24" src="https://user-images.githubusercontent.com/19535716/53292356-290bc900-378f-11e9-8844-b2f3375939e0.png">

I haven't programmed anything. I simply added my service url, version date, and

[2019-02-26 17:31] mediumTaj commented on #522
@k2nt What version of Unity and the Watson SDK are you using?

[2019-02-26 17:32] k2nt commented on #522
I am using the latest version of Unity and Watson SDK

[2019-02-26 17:36] mediumTaj commented on #522
Thanks for the issue - I'm able to reproduce. Let me check with the service team. I don't see any `vmodel-id` header being sent.

[2019-02-26 17:50] mediumTaj commented on #522
I see... this is an error in the example script. We have no value for `classifier_id` unless a classifier is trained. I will fix this but you can remove `_classifierID` from the `classifierIDs` array in line 155 of ExampleVisualRecognition.cs.

[2019-02-26 17:57] mediumTaj commented on #522
Addressed in https://github.com/watson-developer-cloud/unity-sdk/pull/523

[2019-02-26 17:58] mediumTaj commented on #515
@Jonathanwam Any update on this issue?

[2019-02-26 21:01] #522 closed

[2019-02-28 16:38] mediumTaj opened #525 "[visual recognition] acceptLanguage in DetectFaces should be optional"
Currently one of the overloads of DetectFaces in Visual Recognition has the acceptLanguage parameter as required. This should be optional. Related StackOverflow [issue](https://stackoverflow.com/questions/54909783/facestoplevelmultiple-could-not-be-found/54913449).

#### Acceptance criteria
- [ ] Make acceptLangauge in DetectFaces optional

[2019-02-28 17:08] #525 closed

[2019-02-28 19:33] mediumTaj commented on #525
:tada: This issue has been resolved in version 2.15.2 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.15.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-01 06:03] Jonathanwam commented on #515
Yes, same problem. I thought it could be my device but I just tested on an Android emulator and had the same issue. I'll try reinstalling Unity and the Watson SDK on my other laptop and see if that helps.

[2019-03-05 02:41] McGake commented on #345
Unfortunately, I have run into a different problem that is keeping me from even testing the unmodified ExampleStreaming scene. Sorry about that. If I am ever able to reproduce the issue I will update.

[2019-03-05 08:10] mundinbass opened #527 "[speech-to-text] RD_ERROR"
When opening up a scene very close to the examplescene for speech to text I am getting this error:

[03/05/2019 08:00:55][SpeechToText.OnListenMessage()][ERROR] Error: <2019-03-05 08:00:55,095 api/src/rapi_common.cc:127>	RD_ERROR	RAPI: "RReco" -> "settings" -> "nbest_size" -> Integer 0 is lower than 1.

UnityEngine.Debug:LogError(Object)
IBM.Watson.DeveloperCloud.Debug.DebugReactor:ProcessLog(LogR

[2019-03-05 09:41] anthonyherveHCS commented on #527
Hello,
I notice exactly the same error since this morning!
I didn't make any changes in my project.
My Watson Unity SDK version : 2.15.0
Thank you

[2019-03-05 10:24] anthonyherveHCS commented on #527
I just tested with Watson Unity SDK 2.15.2 and the issue is the same.
Thx

[2019-03-05 15:39] kireyzambon commented on #527
hello i have the same error. i'm using lite tier Dallas intance

[03/05/2019 15:35:15][SpeechToText.OnListenMessage()][ERROR] Error: <2019-03-05 15:35:13,893 api/src/rapi_common.cc:127>	RD_ERROR	RAPI: "RReco" -> "settings" -> "nbest_size" -> Integer 0 is lower than 1.

UnityEngine.Debug:LogError(Object)
IBM.Watson.DeveloperCloud.Debug.DebugReactor:ProcessLog(LogRecord) (at Assets/unity-sdk/Scripts

[2019-03-05 16:01] mediumTaj commented on #527
Were projects changed at all? or the error just started happening out of the blue?

[2019-03-05 16:03] mundinbass commented on #527
Literally out of the blue for me; I saved it (its even pushed to my repository) and it was working. Opened it up to test for my presentation and I'm getting this error.
Also, it doesn't always give this error... Sometimes it shows no errors but it doesn't pick up the microphone and times out. All with absolutely no changes

[2019-03-05 16:07] kireyzambon commented on #527
hello @mediumTaj i'm using this sdk for the first time.

i'm trying to follow this tutorial:
https://developer.ibm.com/recipes/tutorials/create-a-3d-digital-human-with-ibm-watson-assistant-and-unity3d/#r_overview

and this example code
https://github.com/YnotZer0/unity3d_watsonSdk/blob/master/Watson_newServices.cs

tts works
stt close the connection

[2019-03-05 17:01] mediumTaj commented on #527
This is a bug in the service. They are working on it but currently the workaround is to set `MaxAlternatives` to anything above `0`

[code]

@kireyzambon @mundinbass @anthonyherveHCS Please let me know if this workaround fixes the issue for now

[2019-03-05 17:45] mundinbass commented on #527
I tried putting this line of code in the CreateService() and then the Start() function in the ExampleStreaming class and it only serves to give me the same error more reliably.

Is this where I should set the maxAlternatives for the service? or where?

[2019-03-05 17:51] davidjbain commented on #527
I think you have to put it after that. I put mine in the "set" part of the Active Boolean.
It works for me I had the same error, but it seems to create another problem, I don't get the final result as often for longer phrases.

[2019-03-05 17:56] mundinbass commented on #527
Yes, my bad, I should have seen the Active Bool. I can confirm settings it to 1 does work. I am also experiencing not getting the final result as much.
@davidjbain @mediumTaj

[2019-03-05 23:01] Chapmania commented on #444
I am having the same issues today on my Vive headset. The microphone is fine!

Any solutions?

[2019-03-05 23:18] mediumTaj commented on #444
Are you sure it’s not this error? https://github.com/watson-developer-cloud/unity-sdk/issues/527

[2019-03-06 06:16] mcarman8 commented on #527
I can confirm setting to 1 works as well. However, I then seem to be getting an error in converting the json data every 5 seconds or so. Attached is a file with the text of the two errors it generates. Is this related, or should it be in its own issue?
[watson_unity_errors.txt](https://github.com/watson-developer-cloud/unity-sdk/files/2934710/watson_unity_errors.txt)

[2019-03-06 08:16] kireyzambon commented on #527
thanks it works

[2019-03-06 08:19] anthonyherveHCS commented on #527
@mediumTaj @mcarman8  It seems that when an alternative timestamp is an integer, the parse fails to convert in double.
Thx

[2019-03-06 17:16] mediumTaj commented on #527
Can you check out this PR? It should address the casting issues for WordConfidence https://github.com/watson-developer-cloud/unity-sdk/pull/528

[2019-03-06 18:52] #527 closed

[2019-03-06 18:59] mediumTaj commented on #527
:tada: This issue has been resolved in version 2.15.3 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.15.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-06 19:02] mediumTaj commented on #206
We are now using Unity Test Runner

[2019-03-06 19:02] #206 closed

[2019-03-06 19:03] mediumTaj commented on #324
Closing this as I haven't been able to reproduce. If there are steps to reproduce I will reopen.

[2019-03-06 19:03] #324 closed

[2019-03-06 23:29] Chapmania commented on #444
Hi. Thank you, yes. This is the same error. I will take a look.

[2019-03-06 23:33] Chapmania commented on #444
Actually... still having the same issue. Below is the error log -

[03/06/2019 23:14:13][SpeechToText.OnListenMessage()][ERROR] Error: <2019-03-06 23:14:13,250 api/src/rapi_common.cc:127>	RD_ERROR	RAPI: "RReco" -> "settings" -> "nbest_size" -> Integer 0 is lower than 1.

UnityEngine.Debug:LogError(Object)
IBM.Watson.DeveloperCloud.Debug.DebugReactor:ProcessLog(LogRecord) (at Assets/Unity Watson/Sc

[2019-03-07 00:18] mediumTaj commented on #444
https://github.com/watson-developer-cloud/unity-sdk/issues/527#issuecomment-469763327

[2019-03-07 00:19] mediumTaj commented on #444
https://github.com/watson-developer-cloud/unity-sdk/issues/527#issuecomment-470194920

[2019-03-07 00:23] Chapmania opened #531 "[speech to text] NullRefereceException when recognizing audio"
I was having problems with TTS and upgraded the Unity SDK to the latest commit. I am now getting this error -

Assets/Watson/Scripts/Services/SpeechToText/v1/SpeechToText.cs(1385,43): error CS1644: Feature `out variable declaration' cannot be used because it is not part of the C# 6.0 language specification

Hope this is fixed, as I (and likely others) are unable to use any of the Watson services i

[2019-03-08 00:32] Chapmania commented on #527
I tried the workaround, but it didn't work. Thanks for your efforts in fixing this Taj.

[2019-03-08 01:05] Chapmania commented on #531
![unity watson error log](https://user-images.githubusercontent.com/19779570/54000144-62cecd80-419a-11e9-9bb2-1bed5494e442.JPG)

I am now getting these errors.

[2019-03-08 15:21] LDanderz opened #532 "[speech-to-text] Null word_alternatives and double parsing on time stamps"
While using speech-to-text, res.word_alternatives always come back null, the speech recognition event never seems to come back with a key of "word_alternatives". Also on speech-to-text, parsing to double on timestamp values has the same issue as it did on confidence values (just rare that a time stamp will start/finish exactly on an integer value).

Im using the latest sdk version v2.15.3.

[2019-03-09 01:50] McGake commented on #532
Confirming the timestamp issue. Just ran into it. Also the same cast issue with ialternative["confidence"] in the same function.

[2019-03-11 17:24] mediumTaj commented on #531
Which version of the SDK are you using? Is this coming from the example script or are you using your own implmentation? Can you update with sample code of how to reproduce your issue?

In your player settings are you setting Scripting Runtime Version to .NET 4.x Equivalent? Also the Api Compatibility Level should be .NET 4.x.

[2019-03-11 18:08] mediumTaj commented on #532
Looking at converting all of these values to strings and then converting to doubles. For the `word_alternatives` did you set the `WordAlternativesThreshold`?

[code]

[2019-03-11 18:13] mediumTaj commented on #532
Can you guys try out this PR and see if you have any more issues with double parsing? https://github.com/watson-developer-cloud/unity-sdk/pull/533

[2019-03-12 00:48] Chapmania commented on #531
I am using the latest commit, yours! The player settings are .NET 4. I will test it again tomorrow and see what happens. Thanks. Adam.

[2019-03-12 08:33] LDanderz commented on #532
I did go through and fix all the casting myself. As to the null word alternatives, I did have the threshold set but it seems IBM may have done something their end as it all words as it should now. Many thanks for the replies.

[2019-03-12 13:50] mediumTaj commented on #531
The error is coming from `Watson_newServices` which is not in the SDK. Can you post this code? Or you can join #unity-sdk in the slack workspace for help debugging http://wdc-slack-inviter.mybluemix.net/

[2019-03-12 17:41] MichealPeters commented on #432
Quick question about Assistant V2  It looks like there is at least one bit of Assistant V2 in WatsonDeveloperCloud (without the dot between Watson and Developer) that's handling the MessageRequest type.  Will that move to do a different class or namesapce during this conversion?

[2019-03-12 18:06] mediumTaj commented on #432
These will all be generated so they should be more consistent

[2019-03-12 21:48] #532 closed

[2019-03-12 21:59] mediumTaj commented on #532
:tada: This issue has been resolved in version 2.15.4 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v2.15.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-13 00:31] Chapmania commented on #531
Hi Taj,

The code came from Tony Pigram's tutorial on creating a 3D AI character in
Unity. It was working perfectly on various characters and suddenly these
issues arose. This is when I opened the issue on github. I have attached a
copy of the code to this email. I hope you can help to debug it. Thanks.

Adam.

On Wed, 13 Mar 2019 at 00:50, Ajiemar Santiago <notifications@github.com>
wrote:

using

[2019-03-13 20:24] tiancaipipi110 opened #534 "[SpeechToText.ParseRecognizeResponse()][ERROR] & [SpeechToText.OnListenMessage()][ERROR]"
Hello, out of a sudden, I'm getting these two errors:
[code]

[code]

I think the first bug should be fixed on issue #349 ? Not sure if this is a new bug? Watson v2.13.2

[2019-03-13 21:12] mediumTaj commented on #534
Hi,
This is a casting bug that was fixed in https://github.com/watson-developer-cloud/unity-sdk/pull/533

The `2` in the timestamp of your response is an int and can't automatically be cast to a double. The above PR addresses this by taking the values, converting to string and parsing out the double.

Please update to the latest version of the SDK. Closing this but please comment if this doesn't f

[2019-03-13 21:12] #534 closed

[2019-03-13 21:13] mediumTaj commented on #534
Duplicate of https://github.com/watson-developer-cloud/unity-sdk/issues/532

[2019-03-13 21:49] mediumTaj commented on #531
The particular error you posted above is coming from line 363 of your script
[code]

I'm guessing your results text field is not set in the inspector. If you look at your inspector on the GameObject you attached your script to you should see a place where you can add a reference to your text field.

[2019-03-13 21:51] tiancaipipi110 commented on #534
Yes! Thanks!

[2019-03-13 23:29] Chapmania commented on #531
Hi Taj. You are a legend. Problem solved. Really appreciated.

[2019-03-13 23:30] #531 closed

[2019-03-15 02:47] JaimeCastro0926 commented on #534
Hello, good evening, I still have the problem, I have not solved it and I already downloaded and installed the latest version, what could it be?

The error happened a few days ago.

Note: I am using it in Spanish.

Error 1
[03/15/2019 02:30:56][SpeechToText.ParseRecognizeResponse()][ERROR] ParseJsonResponse exception: System.InvalidCastException: Cannot cast from source type to destination type.
a

[2019-03-15 03:03] JaimeCastro0926 opened #535 "SpeechToText.ParseRecognizeResponse()][ERROR] & SpeechToText.OnListenMessage()][ERROR]"
Hello, good evening, I still have the problem, I have not solved it and I already downloaded and installed the latest version, what could it be?

The error happened a few days ago.

Note: I am using it in Spanish.

Error 1
[03/15/2019 02:30:56][SpeechToText.ParseRecognizeResponse()][ERROR] ParseJsonResponse exception: System.InvalidCastException: Cannot cast from source type to destination type.
a

[2019-03-15 09:44] kimberlysiva commented on #535
Lexicon dev here. Sorry about that, we copied the parse function in Lexicon so we're running into the same problem. Here's a patch that should fix it, and the fix will be in the asset store soon.

LexiconParsePatch: https://drive.google.com/open?id=1UwigdhSok07ss8LubLqohdwFSPX9_mXf

[2019-03-15 13:27] shramikdalvi opened #536 "[SpeechToText] Websocket disconnecting"
**Overview**
Speech to text service isn't working, please check the attached screen shot

 **Expected behavior**
to work fine

 **Actual behavior**
didn't work

 **How to reproduce**
i am using Watson Unity sdk v2.15.4

 **Screenshots**
_If applicable, add screenshots to help explain your problem._

 **SDK Version**
v2.15.4

![watsonSTT](https://user-images.githubusercontent.com/35919083/54434407-

[2019-03-15 13:49] mediumTaj commented on #535
Thanks @kimberlysiva ! Closing this issue

[2019-03-15 13:49] #535 closed

[2019-03-15 13:50] mediumTaj commented on #536
Let me take a look at this today.

[2019-03-15 14:54] mediumTaj commented on #536
I've tested the scene with a speech to text instance in London and it seems to be working. Have you set the Scripting Runtime Version to .NET 4.x in the build settings?

https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

The API Compatibility Level should also be set to .NET 4.x

[2019-03-15 21:21] JaimeCastro0926 commented on #535
Thanks, it works correctly

[2019-03-16 05:23] shramikdalvi commented on #536
Hi,
As you said i tested with API Compatibility Level .NET 4.x, and it seems to be working fine though there is a bit latency.
It would be great if you can add (The API Compatibility Level should also be set to .NET 4.x) to the documentation as its not there.
thanks for the support, appreciated !

[2019-03-16 05:23] #536 closed

[2019-03-20 23:38] bhylak commented on #515
Interesting -- I'm having the sample problem on my Magic Leap 1

[2019-03-21 01:47] mediumTaj commented on #515
Any steps to reproduce? I haven’t been able to reproduce on Android. Does it happen only on magic leap device or on the simulator?

[2019-03-21 23:27] Chapmania commented on #531
Hi Alejandro,

Do you know what could cause the following error?

Thanks,

Adam.

03/19/2019 02:27:55][SpeechToText.ParseRecognizeResponse()][ERROR]
ParseJsonResponse exception: System.InvalidCastException: Specified cast is
not valid.
  at IBM.Watson.DeveloperCloud.Services.SpeechToText.v1.SpeechToText.ParseRecognizeResponse
(System.Collections.IDictionary resp) [0x0042b] in D:\Unity Projects\VR

[2019-03-21 23:57] mediumTaj commented on #531
Yes this is an issue with casting a returned int into a double. Please download the latest version of the SDK. They are looking into this on the speech to text service but the sdk has been patched to parse the int

[2019-03-22 00:46] Chapmania commented on #531
Thank you Raj.

I will pass thus on to my colleague.

Regards,

Adam.

On Fri, 22 Mar 2019, 10:57 Ajiemar Santiago, <notifications@github.com>
wrote:

[2019-03-22 12:48] wearywitness opened #541 "[speech to text] OnListenClosed(), State = DISCONNECTED"
![Screenshot](https://user-images.githubusercontent.com/9262986/54823654-2b3f4580-4cb1-11e9-917b-ec24ce33ff1c.png)

Hi,
Speech to Text Streaming has been working fine so far, but I get this error out of the blue over the past two days.
I have the correct IAM authentication. My runtime version and API compatibility is at 4.x.

Don't know why this is happening. Please help me out.

Thanks in advance

[2019-03-22 13:12] mediumTaj commented on #541
What version of the SDK are you using? Is this happening consistently? I just tried with a service in london and had no issues connecting. It's possible that this is a temporary service issue.

[2019-03-22 14:01] wearywitness commented on #541
You're right... I hadn't updated to the latest version!
Working perfectly now... Thanks!

[2019-03-22 15:08] #541 closed

[2019-03-24 04:42] mcarman8 opened #542 "[speech to text] OnListenClosed(), state = Disconnected"
**Overview**
Getting OnListenClosed immediately upon creation with example scene and valid Credentials

 **Expected behavior**
I expected the speech to text algorithm to continue.

 **Actual behavior**
Immediately after starting the service, the service exits.

 **How to reproduce**
Using Unity 2017.4.24f1 and unity-sdk version 2.15.4. Using Script runtime version 3.5 yields this error. Using Scri

[2019-03-25 02:56] mcarman8 commented on #542
My bad, Apparently the Washington D.C. Node is not working, and creating a new key switching to Dallas fixed my problem, even though the Unity status page says everything is working.

[2019-03-25 02:56] #542 closed

[2019-03-25 15:44] mediumTaj commented on #542
Every region except for Dallas is on TLS 1.2. To use Speech to Text in the other regions you will need to change your build settings to use .NET 4.x equivalent (both Scripting Runtime Version and API Compatibility Level).

https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

[2019-03-28 22:33] #432 closed

[2019-03-28 22:33] #462 closed

[2019-03-29 00:56] mediumTaj commented on #532
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-01 20:56] #365 closed

[2019-04-02 01:07] LF opened #553 "[assistant] Runnable/RESTConnector error at runtime when building for Lumin OS (Magic Leap)"
Hi! I'm trying to test a few Watson services (mainly Speech-To-Text and Assistant) on a Magic Leap One device, but I encounter a strange error when trying to connect to these at runtime. (This issue focuses on the minimum reproducible steps to connect to the Assistant service, as the same seems to happen for Speech-To-Text.)

### Steps to reproduce

Here's what I'm using:

- Magic Leap One Creator

[2019-04-02 14:08] jayateertha043 opened #554 "Error when installing Unity SDK and Core"
I get error - "Assets\unity-sdk-core-0.1.0\unity-sdk-core-0.1.0\Connection\RESTConnector.cs(645,24): error CS0656: Missing compiler required member 'Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfo.Create'
"
after I imported both unity-sdk and unity-sdk-core as mentioned.

[2019-04-02 15:32] mediumTaj commented on #553
Can this be reproduced using the Magic Leap simulator? We don't have access to a headset.

[2019-04-02 15:36] mediumTaj commented on #554
Have you gone into your build settings and set Scripting Runtime Version and Api Compatibility Level to .NET 4.x equivalent?
https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

[2019-04-02 15:40] mediumTaj commented on #553
Also does Magic leap support .NET framework 4.x (scripting runtime version and api compatibility level)?

[2019-04-02 19:03] LF commented on #553
I've tested it in the simulator, and unfortunately this issue can't be reproduced as it's running in the editor environment, which works as expected. Additionally, the other projects I've built use both the .NET 4.x scripting runtime and framework, so from my experience Magic Leap seems to support them.

For now I'll be focusing on other parts of my project, and continue troubleshooting on the sid

[2019-04-02 20:16] mediumTaj commented on #553
Labeling as `blocked` since we don't have a Magic Leap headset to investigate. @LF Please keep us updated if you make any progress on this issue and feel free to write up a PR if you find a solution.

[2019-04-03 07:23] jayateertha043 commented on #554
Yes
It got fixed now
Thank you
Jayateertha G

On 2 Apr 2019 9:06 pm, "Ajiemar Santiago" <notifications@github.com> wrote:

Have you gone into your build settings and set Scripting Runtime Version
and Api Compatibility Level to .NET 4.x equivalent?
https://github.com/watson-developer-cloud/unity-sdk#configuring-unity

—
You are receiving this because you authored the thread.
Reply to this email dir

[2019-04-03 18:40] #554 closed

[2019-04-08 23:28] ckowall opened #557 "Failed to open listening state"
ExampleStreaming throws this
[04/08/2019 22:10:00][SpeechToText.OnListen()][ERROR] Failed to enter listening state.
UnityEngine.Debug:LogError(Object)
IBM.Cloud.SDK.Debug.DebugReactor:ProcessLog(LogRecord) (at C:/Users/Correy Kowall/Desktop/unity/Beacon/IBM/Assets/unity-sdk-core-0.1.0/unity-sdk-core-0.1.0/Debug/DebugReactor.cs:60)
IBM.Cloud.SDK.LogSystem:ProcessLog(LogRecord) (at C:/Users/Correy K

[2019-04-10 17:15] mediumTaj opened #558 "[ICP] Do not yield for token data if connecting to an ICP service"
When authenticating using IAM Apikey we need to yield for the IAM service to return tokenData before creating the service. When authenticating using an `icp-` apikey we do basicauth behind the scenes. We need to clarify in documentation that the Unity SDK supports ICP (but without Proxy) and that when authenticating we don't need to yield for tokenData.

[2019-04-11 19:21] mediumTaj opened #559 "Find featured projects, demos and starter kits to list in readme"
We would like to list featured projects, demos and starter kits in the Unity SDK readme. Lets list possible projects to add in this issue. I will also send a message in the community slack.

[2019-04-12 20:09] albertveomas commented on #473
can i get any tutorial?

[2019-04-15 13:39] Jennifer03333333332 opened #560 "[speech-to-text] [tone-analyzer]NullReferenceException"
Unity 2018.3.11.f1 Personal + latest version of unity-sdk
I try to connect ExampleToneAnalyzerV3.cs to ExampleStreaming.cs（STT）
There's nothing wrong in VS 2017, but in Unity, after hearing some words from microphone， it stucks
// STT is working well, but when I want to use toneanalyzer in STT:

_________________________Specifically_______________________________________________
In ExampleToneAnal

[2019-04-19 11:08] Jennifer03333333332 commented on #560
Solved，just because I don't attach gameobject's argument to it

[2019-04-19 11:08] #560 closed

[2019-04-22 14:19] mamoonraja commented on #553
@LF Can you confirm if we can close this one now?

[2019-04-22 18:58] LF commented on #553
@mamoonraja Hi! This issue can be closed, as the library we intended to use (with v2.15.4) has been deprecated. We'll start implementing our own using v3.x going forward, and I'll be sure to let you know if any issues come up. Thank you!

[2019-04-22 18:58] #553 closed

[2019-04-22 21:09] mediumTaj opened #562 "[text to speech] Add TextToSpeech example"
#### Context
@akeller created a TextToSpeech example for the Unity SDK
https://gist.github.com/akeller/4e16cd9e0154af55133678e7ca83c9d9

It would be great to get this into the SDK as an example. Thanks @akeller !

#### Acceptance criteria
- [ ] Standardize the above gist and add to the examples in the SDK

[2019-04-22 21:13] mediumTaj opened #563 "[speech to text] Add steps to enable microphone for Mojave"
#### Context
Updating MacOS to Mojave may disable microphone for Unity. We should add steps to enable the microphone for SDK users who were having trouble.

https://support.apple.com/en-us/HT209175

#### Acceptance criteria
- [ ] Add section in readme pointing to the above article if they have trouble with their microphone on OSX

[2019-04-23 12:45] pkveton opened #564 "[speech-to-text] unity-sdk incorrectly parses STT service output"
STT service returns results like
[code]
is processed by the SDK without problems.

JSON does not make difference between floating point numbers and integers - http://www.json.org/, namely from http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf:

So also the following JSON (identical to the above, just without `.0` "suffix" on several numbers should also be parsed without pro

[2019-04-26 18:56] scprotz opened #565 "A small issue with line endings on Mac"
I loaded the most recent version into Unity 2017.3.1f1 on my Mac (v3.1.0 and v0.2.0).  There were a few files that show as having Windows line endings and Unity complains this can throw off the debug messages.  I manually changed them on my system when opening them with the mono editor, but probably should be consistent, as most files using all the same line endings.

[2019-05-02 17:32] mediumTaj opened #566 "Error authenticating on iOS"
There have been a few reports of errors authenticating in iOS. This may be an issue with Json.NET.

#### Steps to reproduce
Target iOS in your build settings, build and run on your phone.
[code]

[2019-05-02 17:33] mediumTaj commented on #566
@akeller Using this issue to track. Please add any info if needed!

[2019-05-02 17:35] mediumTaj commented on #566
stack trace from M. Nascimento on WDC Community slack
[code]

[2019-05-02 18:35] akeller commented on #566
I'm seeing the same error as well, but a slightly different method. Using Assistant, Speech to Text, and Text to Speech so I get 3 of them for each IAM token request.

This is on iOS 12.2

[code]

[2019-05-03 18:49] germanattanasio commented on #326
@Naphier do you think this is still happening in the latest release?

[2019-05-03 18:53] Naphier commented on #326
It's been a year since I've tried. Didn't retry since I just limited our dictionaries. Might be better off checking the slack channel. The devs are pretty responsive there.

[2019-05-03 19:27] germanattanasio commented on #326
I work with the devs 😛, let me see if they know what the status of this is

[2019-05-03 19:45] mediumTaj commented on #326
I just tried with 319 keywords in the streaming example and had no issue.
[code]

Closing this issue. If you have different results please comment and I will reopen.

[2019-05-03 19:45] #326 closed

[2019-05-07 14:31] jBachalo opened #567 "The type or namespace name 'Cloud' does not exist in the namespace 'IBM' [Unity 2019.1]"
Simply adding the SDK to an empty Unity 2019.1 project and getting several compile errors in the editor

Assets/unity-sdk-master/Common/Common.cs(18,11): error CS0234: The type or namespace name 'Cloud' does not exist in the namespace 'IBM' (are you missing an assembly reference?)

[2019-05-07 14:41] jBachalo opened #568 "Assembly has reference to non-existent assembly 'IBM.Cloud.SDK' [unity 2018.3]"
So simply adding SDK to empty 2018.3 project. Much better that with 2019.1 however still get 2 compile errors in editor

Assembly has reference to non-existent assembly 'IBM.Cloud.SDK' (Assets/watson/Tests/IBM.Watson.Tests.asmdef)

Assembly has reference to non-existent assembly 'IBM.Cloud.SDK' (Assets/watson/WatsonUnitySDK.asmdef)

[2019-05-07 14:52] mediumTaj commented on #568
Did you also add the `unity-sdk-core` repo to your Assets directory?
https://github.com/watson-developer-cloud/unity-sdk#getting-the-watson-sdk-and-adding-it-to-unity

[2019-05-07 14:52] mediumTaj commented on #567
Did you also add the [`unity-sdk-core`](https://github.com/ibm/unity-sdk-core) repo to your Assets directory?
https://github.com/watson-developer-cloud/unity-sdk#getting-the-watson-sdk-and-adding-it-to-unity

[2019-05-07 15:01] jBachalo commented on #568
Thanks for quick reply. Yes read that on the github page. Was following the youtube tutorial and that might have been omitted.
https://www.youtube.com/watch?v=woKMumx3TcY&list=PLZDyxLlNKRY9b2vurEhkSoNWZN5c5l4Nr&index=4

[2019-05-07 15:01] #568 closed

[2019-05-07 15:01] jBachalo commented on #567
Thanks.

[2019-05-07 15:01] #567 closed

[2019-05-08 00:38] jBachalo opened #570 "ExampleStreaming demo on iOS"
Taj
Not a specific bug report but kindly request your feedback in getting the ExampleStreaming demo working in iOS.
Have posted the issue here in the Unity forum

https://forum.unity.com/threads/watson-unity-sdk.486162/#post-4513765

Thanks and regards

[2019-05-08 00:41] mediumTaj commented on #570
Duplicate of https://github.com/watson-developer-cloud/unity-sdk/issues/566

Looking into it.

[2019-05-08 00:41] #570 closed

[2019-05-08 02:47] jBachalo commented on #570
Thanks.

On Tue, May 7, 2019 at 8:41 PM Ajiemar Santiago <notifications@github.com>
wrote:

--
[c] 416.306.0036
[v] vimeo.com/bachalo
[t] @eco_bach
--------------------------------------------
"...all improvisation is life in search of a style."
            - Bruce Mau,'LifeStyle'

[2019-05-08 19:42] jBachalo opened #572 "Example Streaming not working in iOS"
Running the Example Streaming demo in the editor (2019.1, Mac) works fine so I know my iAM authentication is correct.
However cannot get to work after deploying to my iPhone.

This is the complete XCode console message, I can see a time out and further on a credentials error

https://pastebin.com/NZ5PLUpC

[2019-05-08 20:14] mediumTaj commented on #572
Duplicate of https://github.com/watson-developer-cloud/unity-sdk/issues/566

Please comment on that issue if it deals with iOS authentication.

[2019-05-08 20:14] #572 closed

[2019-05-08 20:19] jBachalo commented on #572
Thanks but not sure whether it is an iOS authentication specific issue. If you have time to view my paste bin you could probably get a better idea what is happening.

[2019-05-08 20:31] mediumTaj commented on #572
It's the same error as #566
[code]

[2019-05-08 20:33] jBachalo commented on #566
ditto. Example streaming works fine fore me in Editor. After deploy to iPhone (iOS 12.1.4) get
[code]

[2019-05-08 22:45] mediumTaj commented on #566
Still investigating this issue. I have a branch with Json.net for unity already but havent been able to get my xcode up and running. @jBachalo can you test this?

Just remove `Core/Plugins/Newtonsoft.Json.dll` and download the [Json.NET](https://assetstore.unity.com/packages/tools/input-management/json-net-for-unity-11347) package from the Unity Asset Store

[2019-05-09 12:53] jBachalo commented on #566
Thanks. Will try but think more refactoring might be required as RESTConnector, Credentials, SerializedDelegate and Utility are all looking specifically for Newtonsoft
RESTConnector.cs(29,7): error CS0246: The type or namespace name 'Newtonsoft' could not be found (are you missing a using directive or an assembly reference?)

[2019-05-09 23:38] mediumTaj commented on #566
The Json.NET for Unity library uses the same namespaces as the original Json.NET library. No refactoring should be required. Can you guys test this out?

https://github.com/IBM/unity-sdk-core/pull/13

I have it working on ios locally. You should only need to replace the core in the Assets directory with this core.

[2019-05-10 00:27] jBachalo commented on #566
works for me (Json.NET for Unity library)

On Thu, May 9, 2019 at 7:38 PM Ajiemar Santiago <notifications@github.com>
wrote:

--
[c] 416.306.0036
[v] vimeo.com/bachalo
[t] @eco_bach
--------------------------------------------
"...all improvisation is life in search of a style."
            - Bruce Mau,'LifeStyle'

[2019-05-10 15:50] mediumTaj commented on #566
This is merged in
https://github.com/IBM/unity-sdk-core/pull/13

[2019-05-10 15:50] #566 closed

[2019-05-12 19:43] jBachalo opened #574 "NullReferenceException with Example Streaming"
Hi
Occasionally am getting the following error. Although it doesn't break the application thought I should share.

[2019-05-12 22:01] jBachalo opened #575 "Modifying SDK to support a Custom Language Model"
I realize I should not be asking questions here, however, this is directly related to the Unity SDK so I believe it is still appropriate to ask here.

I want to improve the accuracy of the Speech to Text by creating a Custom language Model.

https://cloud.ibm.com/docs/services/speech-to-text?topic=speech-to-text-languageCreate#createModel-language

Is this possible by modifying the existing UnityS

[2019-05-14 17:51] mamoonraja commented on #575
Hi @jBachalo, thanks for opening the issue. You can create custom models using the SDK, check the method [CreateLanguageModel](https://github.com/watson-developer-cloud/unity-sdk/blob/master/Scripts/Services/SpeechToText/V1/SpeechToTextService.cs#L1445) out.

[2019-05-14 17:52] mamoonraja commented on #574
Thanks for opening the issue, I have not seen it before but will take a look at it.

[2019-05-14 17:54] mamoonraja commented on #565
Hi! Thanks for opening the issue, can you please provide more info about the files you noticed the issue for?

[2019-05-14 18:55] jBachalo commented on #575
Thanks! Yes documentation is quite good. One more step and I am good to go.

I've
-created a custom model
-created a grammar file
-uploaded and trained my new grammar file
-checked status of new model to confirm it is ok

According to documentation I need to add 2 additional parameters to my request in the Watson Unity SDK
1 language_customization_id (which I assume is my custom model ID)
and
2 gr

[2019-05-15 16:09] jBachalo commented on #575
Update
This is resolved by updating the Active method in ExampleStreaming.cs with language_customization_id and grammar_name.

[2019-05-15 16:09] #575 closed

[2019-06-21 13:13] Holofrenia commented on #554
Hi,
I'm having some problems with Watson:
The type name 'Error' does not exist in the type 'RESTConnector'
This error appeared after I turned back to the  NEt 4.xEquivalent and .NET 4.x
I'm working with Unity 2018.3.14f1
Thanks in advance.

[2019-06-22 21:16] mediumTaj opened #578 "Unity SDK v4"
We are planning to do a major release of the Watson Unity SDK in September. This issue will be used to track features and changes we want to make in the next major release. We welcome community feedback on these goals - do people want these things? Are there other implementations/packages we should be looking at? Any comments are appreciated!

## Planned changes
- [x] Provide more flexible and ext

[2019-07-08 15:17] shannon-wu15 commented on #499
I got the same issue, but i'm using Unity 2017.4.19. I tried to change the type of UserDefined and the RESTConnector.cs, and it still not work? Could you give any assistance

[2019-07-08 15:18] shannon-wu15 commented on #499
I tried to change the type of UserDefined and the RESTConnector.cs file, and it still not work? Could you give any assistance. BTW, I'm using Unity 2017.4.19

[2019-07-11 10:34] yutatoga opened #580 "[credential] get a critical error ( can't parse json )"
When not connected to the internet,
can't parse JSON below and get a critical error.
RESTConnector.cs：642

Unity2018.4.3f1

[2019-07-11 14:36] oslindstrm commented on #580
I had a similar issue yesterday, it magically went away after some tinkering. Now it seems like the Credentials are never fetched, resulting in the Speech to text service not working.

[2019-07-15 20:05] mamoonraja commented on #580
Hi @yutatoga and @oslindstrm for reporting the issue. Can you please provide more info on the error. E.g,

- which version of Unity SDK and SDK core are you using
- Error trace if possible, and steps to reproduce.

[2019-07-15 23:00] sebastienspas commented on #557
I encounter the same issue with Unity 2018.3.12f1 and Unity 2018.3.14f1.
Is there any way to try catch this error and avoid the process to be stopped ?

[2019-07-23 08:51] pkveton commented on #564
guys, what is the status of this issue. I'd like you to understand that the STT service is going to revert the hotfix, so that we will soon produce the "integral" values for whole-number-floats again. Keeping this "more-than-valid" JSON breaks other features.

[2019-07-23 19:13] jsstylos commented on #564
@pkveton Unfortunately there are legacy clients -- e.g. Unity games in production -- that will be broken by a reversion of this change. Let's discuss further before changing the behavior back.

[2019-07-24 13:55] mediumTaj commented on #535
Related to https://github.com/watson-developer-cloud/unity-sdk/issues/532
We transitioned JSON libraries in the major release
https://github.com/watson-developer-cloud/unity-sdk/pull/548

[2019-07-24 13:57] mediumTaj commented on #564
Related to https://github.com/watson-developer-cloud/unity-sdk/issues/532
We transitioned to JSON.net in the major release: https://github.com/watson-developer-cloud/unity-sdk/pull/548

[2019-07-30 11:46] kpradp opened #584 "Invalid return response for Visual recognition - 3.4.0"
Cannot implicitly convert type 'System.Collections.Generic.Dictionary<string,object>' to 'string'
(wrapper dynamic-method)

The response from visualRecognitionService.Classify is no longer returning valid response to the call back.

void OnClassify(DetailedResponse<ClassifiedImages> response, IBMError error)

There is a type mismatch.

[2019-07-30 12:49] mamoonraja commented on #584
Thanks for opening the issue, I am investigating the issue and will have a fix out asap.

[2019-07-30 12:57] mamoonraja commented on #584
`Classify` is working for me, can you provide info on what version of sdk's [core](https://github.com/IBM/unity-sdk-core) are you using and what parameters are you providing in `classify`?

[2019-07-30 18:36] kpradp commented on #584
v0.3.0
The previous version had a call back for Dict<string, object>

[2019-08-03 19:05] kpradp commented on #584
Bump

[2019-08-08 14:52] mamoonraja commented on #557
@sebastienspas Thanks for the update, can you provide more info about your scenario, I was not able to re-create the issue.

[2019-08-21 22:50] MirajM commented on #334
Facing the same issue on my project with the SendBird SDK.

Unity shows the following errors:
PrecompiledAssemblyException: Multiple precompiled assemblies with the same name websocket-sharp.dll included for the current platform. Only one assembly with the same name is allowed per platform.

Development Environment:
Unity 2018.3.5f1
IBM Watson Unity SDK -  unity-sdk-3.4.1, unity-sdk-core-0.3.0
Sen

[2019-08-22 21:23] MirajM opened #587 "[unity-sdk-core-0.3.0] websocket-sharp.dll conflicts with other plugins since they have the same Namespace"
IBM Watson SDK and SendBird SDK Both have the same name for websocket-sharp which causing conflicts with code, unable to use both in one project.

**Steps to reproduce:**
- Create new unity project
- Download IBM Watson SDK : unity-sdk-3.4.1 and unity-sdk-core-0.3.0 from Github
- Download SendBird SDK from Github (https://github.com/sendbird/SendBird-SDK-dotNET)
- Import Both into the project

**E

[2019-08-22 21:38] mamoonraja commented on #587
@MirajM Thanks a lot for opening the issue, we will review your request and decide on whether add this change in next major release next month or do a patch release.

[2019-08-25 12:14] MirajM commented on #587
@mamoonraja Thank you for your reply , is there any other way i can use these both SDK in one project? I would appreciate if you cloud let me know one.

[2019-08-25 12:45] mediumTaj commented on #587
@MirajM can you try to remove the websocket sharp plugin from the core/Plugins directory?

[2019-08-25 13:19] MirajM commented on #587
@mediumTaj  I tried deleting websocket sharp plugin from the core/Plugins directory but then i get `(are you missing a using directive or an assembly reference?)` for all of the files in core and sdk folder. on the other-side i tried deleting the websocket from Sendbird  SDK then its not getting connected.

[2019-09-09 13:25] #564 closed

[2019-09-09 13:29] mamoonraja commented on #558
Will not be valid after v4.

[2019-09-09 13:29] #558 closed

[2019-09-09 13:30] mamoonraja commented on #515
@Jonathanwam @bhylak We have not been able to reproduce the issue, can you please provide the info @mediumTaj requested?

[2019-09-09 13:34] mamoonraja commented on #468
Looks like Unity version specific issue. @ebrainlg Please feel free to re-open if you are still seeing the issue.

[2019-09-09 13:34] #468 closed

[2019-09-09 13:46] mamoonraja commented on #477
Will be closed in #578

[2019-09-09 13:49] mamoonraja commented on #267
I am closing this one as we provide examples as a way to get started with the service, please feel free to open PR's to echance the functionality in examples.

[2019-09-09 13:49] #267 closed

[2019-09-09 13:50] mamoonraja commented on #71
Closing it and adding it as a nice to have for next major release.

[2019-09-09 13:50] #71 closed

[2019-09-09 14:02] mamoonraja commented on #563
Instructions added in the readme.

[2019-09-09 14:02] #563 closed

[2019-09-16 07:31] Hari1195 opened #589 "IBM Watson SDK for Unity version Error: Assets/unity-sdk-core-master/ThirdParty/Jwt/src/JWT/Algorithms/RSAlgorithmFactory.cs(16,71): error CS1644: Feature `expression body constructor' cannot be used because it is not part of the C# 6.0 language specification"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2019-09-16 07:32] Hari1195 commented on #589
Need your help guys

Thanks,
Hari

[2019-09-16 13:30] Mohsina11 opened #590 "authentication ibm watson"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2019-09-18 10:35] CJParry opened #592 "[assistant v2] Bug using Watson SDK on Lumin OS with Magic Leap One"
I have made a Magic Leap One project with the Watson-Unity SDK Assistant. I found a bug when deploying to the Magic Leap device, which uses the Lumin OS. The `Common.cs` class is trying to access the `SystemInformation.Os`.

In Windows, this would return something like `Windows 10.0.0`. The OS version number is then extracted from this. When deployed on the Lumin device, it returns only `Lumin`. W

[2019-09-18 12:53] mamoonraja commented on #592
Thanks a lot for opening the issue @CJParry. We will make sure we have the check for the empty string as a minimum requirement to fix this one and look into another elegant way to fix this.

[2019-09-18 12:56] mamoonraja commented on #590
@Mohsina11 Can you provide more info about the issue, you can use the issue template and fill in the required info.

[2019-09-18 12:56] mamoonraja commented on #589
@Mohsina11 Can you provide more info about the issue, you can use the issue template and fill in the required info.

[2019-09-18 12:57] mamoonraja commented on #589
@Hari1195 Can you provide more info about the issue, you can use the issue template and fill in the required info.

[2019-09-18 15:24] mediumTaj opened #593 "Failed to find a placeholder for Newtonsoft.json"
A user ran into an error when building a project

[code]

[2019-09-18 15:25] mediumTaj commented on #593
The user solved this by filling in the placeholder in the import settings

![grafik](https://user-images.githubusercontent.com/4381558/65162271-979bc700-d9fe-11e9-8fbf-9b9aa3537d43.png)

[2019-09-18 15:25] #593 closed

[2019-09-19 07:33] Hari1195 commented on #589
Thanks for the reply am not getting the error anymore.

[2019-09-19 07:33] #589 closed

[2019-09-19 07:35] Hari1195 commented on #590
@mamoonraja,

I am also facing the same issue and plase find the console log below. Thanks!!

[09-19-2019 07:28:55][IamTokenManager():][WARNING] Warning: Client ID and Secret must BOTH be given, or the defaults will be used.
UnityEngine.Debug:LogWarning(Object)
IBM.Cloud.SDK.Debug.DebugReactor:ProcessLog(LogRecord) (at Assets/unity-sdk-core-master/Debug/DebugReactor.cs:64)
IBM.Cloud.SDK.LogSystem:

[2019-09-25 13:43] idialab opened #595 "[speech-to-text] Example Streaming KeepAlive exits after 30 seconds"
**Steps to reproduce**

1. Open ExampleStreaming scene in Unity 2019.1.0f2.
2. Press play and wait ~30 seconds.

**Expected behavior**

It is my understanding that WSConnector.cs has a built in KeepAlive coroutine that sends a highHat.mp3 clip to the speech-to-text service at a defined interval in order to keep the connection alive.

**Actual behavior**

Either it is not sending often enough or so

[2019-09-26 13:39] DougLilliequist opened #596 "[Assistantv2] Object reference error when running built project on iOS (version 13.1)"
I made a script where I pass my speech to text data to Watson assistant, which is working fine on desktop! But when I run the same project on iOS and say the required words for triggering my desired animation, I get an error refering to a missing object reference.

Here is the error I'm logging when I say the required words as mentioned:
[code]

[2019-09-26 13:49] mamoonraja commented on #595
@idialab Thanks a lot for opening the issue, I will look into it and get back to you asap.

[2019-09-27 11:21] mamoonraja commented on #590
@Hari1195 Can you provide more info about the issue, i.e, steps to reproduce, unity version, sdk version, and which service you are using?

[2019-09-27 11:24] mamoonraja commented on #596
@DougLilliequist Can you provide more info about the issue, i.e, steps to reproduce (more info about your script if possible), unity version, and sdk version?

[2019-09-28 09:48] DougLilliequist commented on #596
Hey @mamoonraja ! I'll do so as soon as I'm back at the office on monday!

[2019-09-30 06:20] DougLilliequist commented on #596
@mamoonraja Here is a write-up of sdk's, platforms etc:

Unity version: **2019.1.8f1**
Watson sdk version: **3.5.0**
Watson sdk core version: **0.3.0**

As for recreating the error, the only thing required is to say (or write seeing as a string is just being passed) the required entity value that will then trigger an animation. Again: this error only happens on iOS (I don't have access to an up-to

[2019-09-30 13:12] KingArmstring opened #597 "Unity - The type or namespace 'Cloud' does not exist in the namespace 'IBM' (are u missing an assembly reference?)"
I just downloaded the sdk and placed it is the assets folder in Unity and immediately got this exception.

[2019-09-30 13:16] mamoonraja commented on #597
Hi @KingArmstring! thanks for opening the issue. Can you please confirm whether you added the core package to the asset folder or not, see https://github.com/watson-developer-cloud/unity-sdk#installing-the-sdk-source-into-your-unity-project.

[2019-10-03 13:07] idialab commented on #595
Were you ever able to replicate this issue? I just tried the example scene again and it seems to be working as intended now.

[2019-10-03 13:27] mamoonraja commented on #595
@idialab I was not able to recreate, but in all fairness, I tried it twice only. Would you like to keep the open issue still? you can always re-open if you see the issue again. It can be multiple reasons why you saw the issue, it can be because of what kind of mic you were using, and/or WebSocket was not connected.

[2019-10-03 14:04] idialab commented on #595
Actually, I may not have waited long enough when I said it was working. Though it does usually get one KeepAlive out, it pretty consistently times out at ~30 seconds. Here are the results from my console:

<img width="789" alt="Capture" src="https://user-images.githubusercontent.com/5862811/66133557-e16eda80-e5c4-11e9-98b4-5bbca8ec0b35.PNG">

[2019-10-03 15:53] mamoonraja commented on #595
Hey! I just debugged the issue. So the way streaming example is set up, the connection has been closed after 30 seconds of complete silence. If you change `DetectSilence` to `false` [here](https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleStreaming.cs#L103), you should be fine. Please let me know if that works for you.

[2019-10-04 14:26] idialab commented on #595
That seems to have done the trick. Session is staying alive. Though it does make me wonder what the KeepAlive is contributing. If `DetectSilence` is set to `false`, then I'm always sending audio (and getting charged for it) and that in itself should keep the session alive.

If the KeepAlive doesn't keep a session alive without me sending audio, what use is it?

[2019-10-04 18:16] #587 closed

[2019-10-04 18:22] mamoonraja commented on #578
released

[2019-10-04 18:22] #578 closed

[2019-10-04 18:25] mediumTaj commented on #587
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-04 19:28] bmoodyP3 commented on #597
I am also having this issue.

[2019-10-04 19:38] bmoodyP3 commented on #597
I am using Unity version 2019.2.0f1 with Magic Leap. I am using unity-sdk-4.0.0 and unity-sdk-core-1.0.0. I also get the following errors:

![image](https://user-images.githubusercontent.com/52935156/66234972-db9bf680-e6a3-11e9-8d2e-8dca5d518d95.png)

[2019-10-04 19:43] mamoonraja commented on #597
Do you have both `unity-sdk-core-1.0.0` in assets directory? I am using the same versions and not seeing an error right now.

[2019-10-04 19:47] bmoodyP3 commented on #597
Yes, both are in the top level.

[2019-10-04 19:59] mamoonraja commented on #597
I just downloaded the [unity-sdk](https://github.com/watson-developer-cloud/unity-sdk/archive/v4.0.0.zip) and the [unity-sdk-core](Source code
(zip)) and built a new project in `Unity 2019.2.0f1` in Mac OS and I am not seeing the errors. However, I see errors when core is not correctly added. Try clearing the console after adding the core to the `Assets` directory. If the issue still persists plea

[2019-10-04 20:00] mamoonraja commented on #597
Meanwhile, I am trying to build the project in Windows machine.

[2019-10-04 20:29] bmoodyP3 commented on #597
I made a new Unity project and now I have the following error:
![image](https://user-images.githubusercontent.com/52935156/66237874-0178c980-e6ab-11e9-81ae-f18903d10155.png)

[2019-10-04 20:29] bmoodyP3 commented on #597
This is my set up:
![image](https://user-images.githubusercontent.com/52935156/66237895-0d648b80-e6ab-11e9-9934-888f8a54c985.png)

[2019-10-04 20:32] bmoodyP3 commented on #597
I have some preview packages in use. Might that be the issue?

[2019-10-04 20:50] bmoodyP3 commented on #597
Here is my OS version:
![image](https://user-images.githubusercontent.com/52935156/66239136-f3787800-e6ad-11e9-8717-afe946034195.png)

[2019-10-04 20:53] mamoonraja commented on #597
That's good news because you can get rid of that error by following [instructions](https://github.com/watson-developer-cloud/unity-sdk#configuring-unity)

[2019-10-04 21:16] bmoodyP3 commented on #597
I tried again with my original project after updating my Windows and I continue to get the above error.

[2019-10-04 21:16] bmoodyP3 commented on #597
This is my project structure:

![image](https://user-images.githubusercontent.com/52935156/66240484-9ed6fc00-e6b1-11e9-94f9-ea0429753e08.png)

[2019-10-07 05:27] daniellovell commented on #595
I'm having the same issue and can consistently reproduce the Session Timed out message in the unedited ExampleStreaming scene in Unity 2018.3.5f1 by starting the game and waiting 30-60s.

[2019-10-07 05:58] daniellovell commented on #557
@mamoonraja I can corroborate these reports of "Failed to enter listening state" on Unity 2018.3.5f1 by simply running the (unchanged, current release) of ExampleStreaming scene and speaking in short bursts for 30-60s.

However! It seems like the DetectSilence flag is connected to this issue as setting it to false will prevent this error. While I don't much about the Watson API, I suspect the issu

[2019-10-07 13:27] mamoonraja commented on #597
Looking closely at error message and directory structute it looks like you have `dll` file for WebSocket plugin saved in `Plugins/Websocket/*` and there is a dll file with the same name in `unity-sdk-core-1.0.0/Pulgins/*` too, you can rename either one and issue should resolve.

[2019-10-08 20:05] bmoodyP3 commented on #597
Hi @mamoonraja , thank you for your help. I did as you suggested and can now access Watson when I run the Magic Leap in the editor. However, when I try to build for the Magic Leap, I get the following errors:

[2019-10-08 20:06] bmoodyP3 commented on #597
![image](https://user-images.githubusercontent.com/52935156/66429185-68102700-e9cc-11e9-8580-bbb894e73530.png)

[2019-10-08 23:03] bmoodyP3 commented on #597
I was able to solve this by clicking, "include Lumin platform" on the Newsoft DLL in the following directory:

![image](https://user-images.githubusercontent.com/52935156/66439660-39527a80-e9e5-11e9-8e66-95779574779b.png)

[2019-10-09 01:12] germanattanasio commented on #597
@bmoodyP3 feel free to open a PR if you think the installation instructions should be updated

[2019-10-09 08:23] daniellovell commented on #595
@mamoonraja
I'm gonna bump this issue again since I have some more findings and an easy way to reproduce:
Tested on Unity 2018.3 and Unity 2019.2, so it seems (at first glance) to be agnostic of Unity version.

If you `Invoke("StopRecording", 1f)` in the ExampleStreaming.cs Start function, you hand the responsibility of keeping the session open to the KeepAlive routine. You will see, without fail,

[2019-10-16 13:46] doukasd opened #601 "[speech-to-text] "ExampleStreaming" not working"
ExampleStreaming is not working. Consequently, it's not clear to a developer new to this how to get Speech-to-Text to work using IBM Watson...

Steps to reproduce:
- Download latest IBM Watson Unity SDK (i got [v4.0.0](https://github.com/watson-developer-cloud/unity-sdk/releases))
- Download latest IBM Unity Core (I got [v1.0.0](https://github.com/IBM/unity-sdk-core/releases))
- Create a new Unity

[2019-10-16 13:52] mamoonraja commented on #601
@doukasd thanks for opening the issue, It looks like problem might be that your mic is not picking up the audio and service is exiting after not detecting anything in a while. There should be a log for which device you are connected to, it should look like: `devices: Built-in Microphone` or whatever device you are using. For debugging purposes can you confirm if you see any other error before `Kee

[2019-10-16 13:54] doukasd commented on #601
Thank you for the quick response. There is no error I am afraid. My mic device is picked up correctly too.

![Unity_2019-10-16_16-53-52](https://user-images.githubusercontent.com/357876/66925774-9da0ba00-f035-11e9-8171-cf177fc7519a.png)

[2019-10-16 14:16] mamoonraja commented on #595
@daniellovell Thanks for the ping again, apologies for the late reply as I was out of office. I am looking into the issue with the `KeepAlive` and will get back to you today.

[2019-10-16 15:54] doukasd commented on #601
Following @mamoonraja 's advice, adding `_service.SetServiceUrl(_serviceUrl);` after [this line](https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleStreaming.cs#L81) sets the `_serviceUrl` correctly and then the example works fine!

I guess we can leave this issue open until this is part of the next release/master.

Thank you.

[2019-10-17 13:11] idialab commented on #595
To @daniellovell and those having the same issue with the KeepAlive, I have developed a workaround for the time being that is automatic and seems reliable:

[code]

I initially tried to just re-create the service in OnError as I would get a Session time out error, but found that I would not reliably get the error after ~30 of them. I tested the above solution overnight and it was still working thi

[2019-10-17 22:06] RMichaelPickering commented on #258
I still vote for properly fixing the STT websocket connection!

[2019-10-21 14:36] samuelthomson commented on #325
Hello, I'm getting the same error message (KeepAlive exited).  But I'm using Unity 2019.2.1 and the option "Scripting Runtime Version" options are no longer available.  Instead I set Api Compatibility to .Net 4.x, and I set "Scripting Backend" to IL2CPP.  However, I'm still getting the same error message.

Is there anything else to try?

[2019-10-21 14:58] mediumTaj commented on #325
@samuelthomson Can you try the branch in this PR? https://github.com/watson-developer-cloud/unity-sdk/pull/602

The important part being yielding for the keepAlive audio to load
[code]

[2019-10-21 15:24] samuelthomson commented on #325
I'm not a regular Github user, can you tell me how I can do that?  I'm not sure how to integrate anything from that page into my project.  Is there a quick explanation?

[2019-10-21 15:59] samuelthomson commented on #325
Well, I manually added the line recommended here: "https://github.com/watson-developer-cloud/unity-sdk/issues/601" to ExampleStreaming.cs and it now seems to be working.  Where would you add the code you quoted, and what would that add?

[2019-10-21 16:35] mediumTaj commented on #325
Search for the following line in `Scripts/Services/SpeechToText/V1/SpeechToTextServiceExtension.cs`
[code]

Add these two lines below that line
[code]

[2019-10-21 17:30] samuelthomson commented on #325
Thanks, that seems much better.

[2019-10-22 12:22] samuelthomson commented on #325
Hello, I loaded up the same project today, it works for about 20-30 seconds, and then I get the following error messages:

[10/22/2019 12:20:13][SpeechToText.OnListen()][ERROR] Failed to enter listening state.
UnityEngine.Debug:LogError(Object)
[10/22/2019 12:20:13][ExampleStreaming.OnError()][DEBUG] Error! Failed to enter listening state.
UnityEngine.Debug:Log(Object)
[10/22/2019 12:20:13][Speech

[2019-10-22 12:33] #595 closed

[2019-10-22 12:34] #601 closed

[2019-10-22 13:06] mamoonraja commented on #595
@daniellovell @idialab We have resolved issues around loading audio when sending keep alive [here](https://github.com/watson-developer-cloud/unity-sdk/pull/602/files#diff-04d1ca65f2d18da9eaec59c6fa6e4c65L543). If you still see the issue, you can either use the workaround mentioned above or you can use a longer audio file for keep-alive to avoid session from timing out.

[2019-10-22 13:08] mamoonraja commented on #597
Since the issue is related to the Lumin platform and is resolved, I am closing this one.

[2019-10-22 13:08] #597 closed

[2019-10-22 13:10] mamoonraja commented on #584
@kpradp Were you able to resolve the issue by using the above example?

[2019-10-22 13:14] mamoonraja commented on #574
Should've been fixed in https://github.com/watson-developer-cloud/unity-sdk/pull/602. Please re-open if you see the issue again.

[2019-10-22 13:14] #574 closed

[2019-10-22 13:56] mediumTaj commented on #595
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-24 18:54] #203 closed

[2019-10-24 18:54] #282 closed

[2019-10-24 18:54] #332 closed

[2019-10-24 18:54] #406 closed

[2019-10-24 18:54] #435 closed

[2019-10-24 18:54] #510 closed

[2019-10-24 18:54] #559 closed

[2019-10-24 18:54] #565 closed

[2019-10-24 18:54] #580 closed

[2019-10-24 19:00] mamoonraja commented on #562
still valid.

[2019-11-07 15:39] DTClarke opened #604 "[Speech-to-Text] Expected a JSON header message before receiving binary data."
When using the Speech to Text API I receive the error [SpeechToText.OnListenMessage()][ERROR] Error: Expected a JSON header message before receiving binary data.
UnityEngine.Debug:LogError(Object).

I get the error even when using the `ExampleStreaming` example code and scene. Although, sometimes it does work albeit very rarely.

I'm using the latest Watson SDKs on GitHub (as of 7th of November).

[2019-11-07 16:46] mamoonraja commented on #604
Hi @DTClarke, thanks for opening the issue.

Can you try one thing:

- on line https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleStreaming.cs#L174

- replace `(bFirstBlock && writePos >= midPoint)` with `(bFirstBlock)`
my guess is that somehow your app is not sending start message here: https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleSt

[2019-11-07 17:35] DTClarke commented on #604
I've just quickly tried that. If i remove `&& writePos >= midPoint` and hit play it seems to make unity unresponsive and I have to force quit. Adding it back in gets me back to the first issue.

[2019-11-08 14:59] #477 closed

[2019-11-08 16:24] mamoonraja commented on #604
Thanks for testing that out @DTClarke. My guess us that we are never getting into the following if statement `(bFirstBlock && writePos >= midPoint) || (!bFirstBlock && writePos < midPoint)`. So we need to look into why that's happening.

[2019-11-09 16:47] mhadji05 opened #605 "LanguageTranslator"
LanguageTranslator

I saw this tutorial
https://youtu.be/c6x78IlYtpk?list=PLZDyxLlNKRY9b2vurEhkSoNWZN5c5l4Nr&t=67

I cant import :
using IBM.Watson.DeveloperCloud.Services.LanguageTranslator.V3;

[2019-11-09 19:53] mamoonraja commented on #605
Hi, if you are using the recent version of the SDK please use `using IBM.Watson.LanguageTranslator.V3;` to import.

[2019-11-09 22:44] mhadji05 commented on #605
Do you mean private ExampleLanguageTranslatorV3 languageTranslator;

Also credentials give error. no class of credentials.
Credentials languageTranslatorCredentials = new Credentials(languageTranslatorTokenOptions, serviceURL);

Some tutorial of new Watson?

[2019-11-09 23:04] mediumTaj commented on #605
Yes sorry @mhadji05 - we need to update the tutorial videos from the last major release. Please see this repo for adding language translator to the example streaming scene

https://github.com/mediumTaj/unity-sdk-demo-languageTranslation

Just add speech to text credentials in the inspector and language translator credentials in the examplestreaming script.

[2019-11-09 23:19] mhadji05 commented on #605
Just add speech to text credentials in the inspector. where in Inspector?

[2019-11-10 11:27] mhadji05 commented on #605
Just add speech to text credentials in the inspector. where in Inspector?

I add credentials on ExampleStreaming.scene on Gameobject with name ExampleStreaming and i success speech to text but how can i make language translator?

[2019-11-11 13:50] mediumTaj commented on #605
If you check the `ExampleStreaming` GameObject in the `ExampleStreaming` scene you will see where to add the API Key in the inspector.

<img width="753" alt="Screen Shot 2019-11-11 at 7 42 57 AM" src="https://user-images.githubusercontent.com/4381558/68591774-176e6c80-0457-11ea-931c-07cdf1b81408.png">

If you open the `ExampleStreaming.cs` script you can add the LanguageTranslator API key directly

[2019-11-11 15:59] mamoonraja commented on #604
We talked about the issue and debugged it, the issue was with microphone not getting started. Trying another microphone worked so probably not an SDK issue, it is probably an issue with the microphone. I am closing this for now please feel free to open if you see the issue again.

[2019-11-11 15:59] #604 closed

[2019-11-13 09:55] mhadji05 commented on #605
how many languages can i translate. Can i translate to greek? If yes how?

[2019-11-13 10:08] mhadji05 commented on #605
this line must be in comments?

// Translate!
//languageTranslatorService.Translate(OnTranslate, new List<string> { alt.transcript }, "en-es");

how many languages can i translate. Can i translate to greek? If yes how?

[2019-11-15 10:56] mhadji05 commented on #605
this line must be in comments?

// Translate!
//languageTranslatorService.Translate(OnTranslate, new List { alt.transcript }, "en-es");

how many languages can i translate. Can i translate to greek? If yes how?

[2019-11-15 11:17] mhadji05 commented on #562
I m trying to make Text To Speech but i fail. Any help please?

[2019-11-15 14:27] #515 closed

[2019-11-15 14:40] mediumTaj commented on #605
Uncomment that line to send the speech to text transcription result to Language Translator. Greek language is supported.

https://cloud.ibm.com/docs/services/language-translator?topic=language-translator-translation-models

In the above line you can change `en-es` to `en-el` to translate from english to greek.

Speech to Text does not support greek

https://cloud.ibm.com/docs/services/speech-to-te

[2019-11-15 15:37] mhadji05 commented on #605
i follow all of your instructions but i fail.

No errors  i cant understand why

![Untitled](https://user-images.githubusercontent.com/22151801/68955355-81c43b80-07ce-11ea-8e4b-3d4245093a3e.png)

[2019-11-15 16:07] mhadji05 commented on #605
I follow all of your instructions but i get error on languageTranslator

![Untitled](https://user-images.githubusercontent.com/22151801/68957492-d5d11f00-07d2-11ea-9877-4c054de34709.png)

[2019-11-15 16:29] mediumTaj commented on #605
what region is you language translator instance? The default is US South (Dallas). You may need to add the service url

[code]

[2019-11-15 16:33] mediumTaj commented on #605
You also may want to check the error in the translate handler

[code]

[2019-11-15 17:51] mhadji05 commented on #605
Error again :(

![Untitled](https://user-images.githubusercontent.com/22151801/68964167-5eef5280-07e1-11ea-892a-4191ba2fc7bb.png)

`namespace IBM.Watsson.Examples
{
    public class ExampleStreaming : MonoBehaviour
    {
        #region PLEASE SET THESE VARIABLES IN THE INSPECTOR
        [Space(10)]
        [Tooltip("The service URL (optional). This defaults to \"https://stream.watsonplatform.net/

[2019-11-15 18:19] mhadji05 commented on #605
Error again :(

When I add this line of code:
` IamAuthenticator authenticator = new IamAuthenticator(apikey: SST_Apikey, url: SST_serviceUrl);`

or this line of code:
`Authenticator languageTranslatorAuthenticator = new IamAuthenticator(apikey: langTrans_ApiKey, url: langTrans_ServiceUrl);`

I get error.

![Untitled](https://user-images.githubusercontent.com/22151801/68964167-5eef5280-07e1-11ea-8

[2019-11-15 22:09] mediumTaj commented on #605
You shouldn't add the code to the Speech to Text section - you should add speech to text credentials in the inspector. The second line of code should be fine.

[2019-11-15 22:29] mhadji05 commented on #605
I don't understand what I need to do. Can you please provide what line of code must remove and what code I need to add? In the inspector of ExampleStreaming.cs I add all of the needed credentials.
If you can provide some complete code, video tutorial i will apreciate it a lot.

[2019-11-15 22:35] mhadji05 commented on #605
Now i have this error

![Untitled](https://user-images.githubusercontent.com/22151801/68980363-f5833a00-0808-11ea-905c-7c03c6576737.png)

[2019-11-15 22:51] mediumTaj commented on #605
You can comment out these lines
[code]

Please set all apikey values and service urls in the inspector and double check they are correct. It looks like the url might not be correct for language translator.

[2019-11-15 22:57] mhadji05 commented on #605
yes from this error cant find it:

[11/15/2019 22:55:18][RESTConnector.ProcessRequestQueue()][ERROR] URL: https://gateway-lon.watsonplatform.net/language-translator/api, ErrorCode: 404, Error: HTTP/1.1 404 Not Found, Response: {"code":404, "error": "Not Found"}

I cant understand why. I am completely sure apiKeys and urls are true.
I comment the 3 lines you said.
The same error.

[2019-11-16 15:40] mhadji05 commented on #605
yes from this error cant find it:

[11/15/2019 22:55:18][RESTConnector.ProcessRequestQueue()][ERROR] URL: https://gateway-lon.watsonplatform.net/language-translator/api, ErrorCode: 404, Error: HTTP/1.1 404 Not Found, Response: {"code":404, "error": "Not Found"}

I cant understand why. I am completely sure apiKeys and urls are true.
I comment the 3 lines you said.
The same error.

[2019-11-17 16:07] mhadji05 commented on #605
any idea whats going wrong?

[2019-11-24 13:50] #592 closed

[2019-12-03 12:33] #590 closed

[2019-12-04 03:24] miwatsuki opened #608 "[Speech to Text] ExampleStreaming does not work with the latest versions of Unity SDKs"
ExampleStreaming in Unity SDK works well with the previous version pair of unity-sdk-4.0.1 + unity-sdk-core-1.0.0, but it does not work with the latest pair of 4.1.0 + 1.1.0 on my Windows PCs with Unity 2019.2.12 and 2019.2.14 and the following 2 errors has occurred:

1.`[Unity][CRITICAL] Unity Exception ArgumentNullException: Value cannot be null.
Parameter name: The serviceUrl must not be empty

[2019-12-04 12:20] mamoonraja commented on #608
Hi @miwatsuki, Thanks for opening the issue, I just tried in MAC and was not able to reproduce the issue. Let me get to my window machine and try it again. Thanks!

[2019-12-04 18:55] jkredzvr commented on #608
@miwatsuki are you running into this error in editor or on a build.  I am getting a similar error in my build.  In editor (2019.2.10f1) I've been able to run the speech to text sample scene

[2019-12-04 23:03] mamoonraja commented on #608
I have found the issue, releasing a fix soon.

[2019-12-04 23:32] mamoonraja commented on #608
Should be fixed in the new core version: https://github.com/IBM/unity-sdk-core/releases/tag/v1.1.1. Please let me know if that fixes the issue.

[2019-12-04 23:32] mamoonraja commented on #605
@mhadji05 are you still seeing the same error?

[2019-12-05 00:19] jkredzvr opened #610 "DetailedResponse struct null when using IamAuthenticator"
Unity Version 2019.2.10f1
unity-sdk-core-1.1.1
unity-sdk-4.1.0

Trying to deploy the SpeechToText example on a Magic Leap and during the authentication process on a build it is throwing an error on line 147 in IamAuthenticator.cs

tokenData = new IamToken(response.Result);

![image](https://user-images.githubusercontent.com/19713488/70192454-9484ae80-16b0-11ea-937d-09f6ed1c21a3.png)

I've also ver

[2019-12-05 09:48] mhadji05 commented on #605
@mamoonraja  yes. Can i have an example scene with language translator and another one with TTS?

[2019-12-06 13:36] mamoonraja commented on #610
Hi @jkredzvr, Thanks for opening the issue. It looks like a network issue, we have seen it before with the magic leap device. Does the example work if you run it with the simulator or you still get the same issue?

[2019-12-06 13:58] mamoonraja commented on #608
@miwatsuki I am closing the issue as the fix is out now, please comment and re-open the issue if you run into the same issue again.

[2019-12-06 13:58] #608 closed

[2019-12-06 23:15] jkredzvr commented on #610
Hi @mamoonraja, yes running the same project in editor works, but just not on device for some reason.  Any suggestions on debugging this?

[2019-12-10 19:43] #247 closed

[2019-12-12 16:49] mamoonraja commented on #610
I don't have access to a Magic leap device, can you please do a log inside [OnGetToken](https://github.com/IBM/unity-sdk-core/blob/master/Authentication/Iam/IamAuthenticator.cs#L140) and let me know what you see?

[2019-12-12 22:46] ryan-motive opened #611 "Poor performance in ExampleStreaming.cs"
The RecordingHandler loop in ExampleStreaming.cs causes noticeable pauses in the app every time it runs. In particular, the array alloc is generating a lot of GC activity and the Max Level calculation is taking a measurable amount of time looking at each sample. On top of this, the Microphone API seems to just be slow (this is more of an observation, not directly related to this code). It's not re

[2019-12-13 07:40] #557 closed

[2019-12-13 15:54] shiranova opened #612 "I got two errors on a clean project"
I followed the YouTube tutorial and got two errors.

Assembly has reference to non-existent assembly 'IBM.Cloud.SDK' (Assets/Watson/Tests/IBM.Watson.Tests.asmdef)

Assembly has reference to non-existent assembly 'IBM.Cloud.SDK' (Assets/Watson/WatsonUnitySDK.asmdef)

Unity version 2018.4.12f1

[2019-12-13 16:01] shiranova commented on #612
Now tested on 2019.2.9f1 and got these errors:

![image](https://user-images.githubusercontent.com/18250769/70813710-9ba76d00-1dd2-11ea-8978-cde69c3e2eac.png)

[2019-12-13 16:12] shiranova commented on #612
Update:
I added core, chenged to .NET 4X

![image](https://user-images.githubusercontent.com/18250769/70814414-1d4bca80-1dd4-11ea-89fd-f8298015695e.png)

Unity version 2018.4.12f1 + 2019.2.9f1

[2019-12-13 16:17] mediumTaj commented on #596
Is this still an issue?

[2019-12-13 16:20] mediumTaj commented on #612
Sorry @shiranova, the youtube tutorials are out of date and we need to find some time to make an updated tutorial. Are you downloading the SDK core into your Assets directory?

https://github.com/watson-developer-cloud/unity-sdk#getting-the-watson-sdk-and-adding-it-to-unity

[2019-12-13 16:39] shiranova commented on #612
Yes. I just downloaded the most recent versions. It's working on 2019.2.9f1 but not on 2018.4.12f1. I'll just work with this version. Thanks.

[2019-12-13 16:39] #612 closed

[2019-12-16 23:03] mamoonraja commented on #258
Still active.

[2019-12-17 02:14] jkredzvr commented on #610
After logging the response object from OnGetToken (check the snippet of my logs)

![image](https://user-images.githubusercontent.com/19713488/70958995-c17d7d80-202f-11ea-81a9-feaa70efa20a.png)

Debugging or accessing the following struct fields results in null error
- response.Response

This last screenshot shows the Logged values from the response that didnt throw an error

![image](https://user-

[2019-12-17 14:43] mamoonraja commented on #611
@ryan-motive Thanks a lot for opening the issue, I will leave this one open to see if we get any response from developers who tried to optimize the example code. Some of the changes you mentioned are out of our control, and `ExampleStreaming` serves as a starting point.

[2019-12-17 21:36] jkredzvr commented on #610
I figured out why I was getting empty string values in the response.  I had not set NewtonSoft JSON AOT DLL to target Lumin, so the Deserialization was not occurring.  Since Deserialization failed silently and didnt throw an exception, it prevented response.Response = json; from being set as well.

This issue can be closed, though it is strange the code didnt throw an exception when Deserializatio

[2019-12-28 13:53] #584 closed

[2020-01-13 12:04] lncslncs commented on #515
Hi there, I am experiencing this same issue when building to Android. This is when trying to create an Assistant session, I get stuck in an infinite loop of "No Assistant Session created" (see below code, (while (!sessionCreated))). I am using Unity 2019.2.7f2 for Mac building to Android 8.0.0 on a Motorola G6. When I run in the editor on Mac it works perfectly but cannot get around this issue whe

[2020-01-13 16:40] lncslncs opened #613 "Unable to Create Assistant Session when building to Android"
Hi there, I am experiencing this same issue as mentioned in a previous closed problem when building to Android. This is when trying to create an Assistant session, I get stuck in an infinite loop of "No Assistant Session created" (see below code, (while (!sessionCreated))). I am using Unity 2019.2.7f2 for Mac building to Android 8.0.0 on a Motorola G6. When I run in the editor on Mac it works perf

[2020-01-14 17:10] lncslncs commented on #613
Realised that this might well not be an issue with the SDKs and instead an android issue, although it persists when tried on other android devices. On further investigation, the server is returning a 403 error and that's what's causing the loop.

[ERROR][RESTConnector.ProcessRequestQueue()]: URL: _(url code here)_ , ErrorCode: 403, Error: HTTP/1.1 403 Forbidden, Response: {"code":403, "error": "Fo

[2020-01-14 18:39] mamoonraja commented on #613
Hi @lncslncs, thanks for opening the issue and providing more info. Sorry for the late reply as I didn't have access to an android device. Did you play around with network permissions on your device? On a quick search, I found [this](https://stackoverflow.com/questions/37493936/android-internet-permission-in-unity) post, maybe it can be helpful. Meanwhile, I will look more into the issue and see i

[2020-01-14 18:39] #610 closed

[2020-01-14 21:05] lncslncs commented on #613
Thanks for the reply, I tried changing permissions as suggested in the post you linked to and it didn't solve the issue unfortunately.

[2020-01-15 10:28] AlexNiculae commented on #568
Hello,

I have used the latest releases of watson unity-sdk (4.1.1) and unity-sdk-core (1.2.0) and I get this error:
`Assembly has reference to non-existent assembly 'UnityEngine.TestRunner' (Assets/Scenes/unity-sdk-core-1.2.0/Tests/IBM.Cloud.SDK.Tests.asmdef)`

I have also configured Unity as specified in the unity-sdk README.

[2020-01-15 14:20] mamoonraja commented on #568
Hi @AlexNiculae, thanks for bringing it up, which version of unity are you using?

[2020-01-15 14:44] AlexNiculae commented on #568
I am using Unity 2018.4.12f1 Personal.

[2020-01-17 12:24] lncslncs commented on #613
Managed to fixed this by disabling SSL when building to Android using the disableSslVerification bool in assistantservice.cs. Then it worked fine on Android, so seems like it's an SSL issue. I guess we will have to find a way to use SSL on android seeing as ideally we don't want to use an insecure connection, but it works for now!

[2020-01-17 12:24] #613 closed

[2020-01-21 11:14] GwilymNewton commented on #562
Still an issue for me, trying to work out how to use the service by reading your test scripts.

Cant currently get it working seeing a `403 forbidden` even though the service gets created with an authenticated.

[2020-01-22 15:17] mamoonraja commented on #562
@GwilymNewton I have created a pr to showcase an example for Text to Speech, please checkout https://github.com/watson-developer-cloud/unity-sdk/pull/616. Let me know if that helps.

[2020-01-23 16:10] #562 closed

[2020-01-23 16:21] mediumTaj commented on #562
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/unity-sdk/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-10 11:17] #605 closed

[2020-02-13 10:23] pavithra-IT commented on #612
Same error here.

Any solve?

[2020-02-14 00:22] hitch22 commented on #553
@LF Did you manage to work around the issue? I am facing the same problem and was wondering if you figured out how to get around this problem.

[2020-02-14 00:26] hitch22 commented on #592
@CJParry Do you mind sharing more information on your workaround? I am having the same problem.  Hardcoded in OS and version info, but I am still having problem. I'd greatly appreciate it if you shared more.

[2020-02-14 11:05] rezasys2 commented on #611
I have the same problem, this service is very slow, I hope someone finds a way or optimize the code soon.

[2020-02-18 15:12] Code-Console commented on #557
I solved Error

I encounter the same issue with Unity 2018.3.14f1.
I just change player settings and then works fine
file -> build settings - > player settings -> Other Settings
Configuration
Scripting runtime version : .Net 4x equivalent
API Compatibility level: .Net 4x

![update](https://user-images.githubusercontent.com/52966236/74748814-23a46a00-528f-11ea-9ded-ff08074a5f3e.jpg)

[2020-02-18 15:14] Code-Console commented on #345
I solved Error

I encounter the same issue with Unity 2018.3.14f1.
I just change player settings and then works fine
**file -> build settings - > player settings -> Other Settings
Configuration**

- **Scripting runtime version : _.Net 4x equivalent_**
- **API Compatibility level: .Net 4x**

![update](https://user-images.githubusercontent.com/52966236/74748878-3e76de80-528f-11ea-9594-8133ea20655e.j

[2020-02-18 18:43] #596 closed

[2020-02-19 19:42] Naphier opened #620 "Simple endpoint to test if service is up and running"
Is there an endpoint url we can call that will give a 200 response and tell us that the service is up and running?
https://stream.watsonplatform.net
returns a 404 (wasn't a 404 a few days ago)
We just need a VERY simple check to see if watson is accessible so that we can warn our military users before actually attempting to connect. Thanks!

[2020-02-20 16:29] mamoonraja commented on #620
Hi @Naphier, Thanks a lot for opening the issue, can you please explain your use case and how you are trying to invoke the endpoint?

[2020-02-20 18:43] Naphier commented on #620
Use case is to just be able to send an http/s request and get a simple 200 response telling us that the service is up. For example if the service is down we want to potentially warn the user or fallback to another method. Also we need a way to test the service without sending credentials.
We have found this endpoint which seems to be fine.
https://api.us-south.speech-to-text.watson.cloud.ibm.com
O

[2020-02-20 18:43] #620 closed

[2020-02-20 20:09] Sewmina7 commented on #253
Why cannot we just change the wsKeepAliveInterval to a high value, or just change the condition of checking the time to something like while(true)? So it will keep running forever, Just asking, Not an expert of this API

[2020-02-20 20:29] Sewmina7 commented on #253
I've got myself a solution, You can start a new ListenConnector, that resets the condition for KeepAlive, and I see it like a way to start a new session.

[2020-02-21 23:56] #258 closed

[2020-03-04 21:51] Faalvare opened #621 "[Assistant] Errors on sending context"
i am following the example for sending message with context from the  API reference, it crashes saying that the `skill.UserDefined ` is null, i checked it with a debug and in did, when i create a new instance of MessageContextSkill the UserDefined is null.

when i asign it directly, watson returns with a 400 code error:

[code]

_context is a Dictionary<string,object> with this value: `{"timezone"

[2020-03-05 05:15] hitch22 opened #622 "MagicLeap Session data exchange bug"
Even with the latest Watson SDK version with OS name and version null check referenced in issue 592, I see that Watson AssistantV2 still has a bug exchanging session data due to a similar issue under Lumin.

It works just fine under Unity, but the problem occurs once I deploy the app to the Magic Leap HMD.
When run on the HMD, it does establish session, but somehow cannot get a response due to an

[2020-03-05 09:17] DGNoise opened #623 "[text-to-speech] example not working in rev. 4.5"
Tested speech to text example and works great. Now I spent several days on text to speech example but doesn't seem to work.
Authentication OK, example runs without errors nor warnings, but when I type a string to read and hit enter I get no speech and the just the following 3 messages:

[03.05.2020 08:58:35][ExampleTextToSpeechV1][DEBUG] on listen: TEST MESSAGE
UnityEngine.Debug:Log(Object)
IBM.Cl

[2020-03-05 15:24] mamoonraja commented on #623
Hi @DGNoise , thanks for opening the issue. There were some changes to the example since it uses `websocket` interface. The old example code is still available here: https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleTextToSpeechV1.cs#L142, if you want to still use that.

Now for debugging purposes, what happens when you add text and press enter? are you seeing any res

[2020-03-05 15:54] israteneda opened #624 "[unity-sdk] CS0246: The type or namespace name 'CoveredMethodStats' could not be found"
I started a new project with 2018.4.18f1 Unity version. I added unity-sdk and unity-sdk-core in Assets then changed the name folders to Watson and IBMSdkCore and changed the build settings to .NET 4.x equivalent.

The following errors appear:
* Assets\Watson\Tests\LanguageTranslatorV3UnitTests.cs(266,17): error CS0246: The type or namespace name 'CoveredMethodStats' could not be found (are you mis

[2020-03-05 15:56] DGNoise commented on #623
Hi @mamoonraja , thank you for your appreciated prompt reply.
I think the example you indicated is the one currently contained in the 4.5.0 Watson SDK package which is the one I am trying to get to work. I just did uncomment line 73 & 74 to see whether that would make a difference, but it didn't.
The problem I experience is that besides the 3 messages I listed above I do not get anything else.
And

[2020-03-05 20:29] Faalvare opened #625 "[Assistant] Crashes on Android il2cpp"
When i try to send a message my code crashes and fails, this only happens when i compile on il2cpp for the android platform, this is the error message:

[code]

this is the code that causes the crash:

[code]

looking for a solution, i found that this is can be caused by the unity's code stripping, a functionality that cannot be disabled when using the Il2cpp compiler. This is a problem because th

[2020-03-05 20:41] mamoonraja commented on #622
@hitch22 thanks a lot for opening the issue, were you able to solve it following the solution proposed in #592? Looks like we didn't get around to port it into the core. If it worked for you we can bring those changes into the core.

[2020-03-05 20:45] mamoonraja commented on #624
@israteneda thanks a lot for opening the issue. I am not able to reproduce it, it looks like an import issue, I will try to look into it asap.

[2020-03-06 02:38] israteneda commented on #624
I tried with Unity 2019.2.8f1 and works normally the errors don't show. I think the problem is related to @mediumTaj said.
P.D.:I used Unity 2018.4.18f1 because it is the LTS version.

[2020-03-06 11:10] DGNoise commented on #623
Hi, just an update because I finally got it to work.
I was eventually able to determine that the main problem was the missing URL.
It might sound like an obvious thing, but let me elaborate on this, since it might be a useful feedback.
Even if I am an experienced programmer I am new to both Unity and Watson SDK. From what I saw initially getting to the point I am now should have been just a matter

[2020-03-06 12:04] jdp1g09 commented on #621
I think this might be because you're never using the `skills` MessageContext in the message you send to Assistant?

The context you have defined when sending the message is a `Global` context that sets `UserId`, not `skill.UserDefined?

[2020-03-06 12:29] jdp1g09 commented on #621
this example works for me:

[code]

[2020-03-06 12:45] Faalvare commented on #621
sry, i wrote the example wrong, still getting 400 code error tho

[2020-03-06 12:50] Faalvare commented on #621
seems like declaring the context before the call fixes the problem:

[code]

[2020-03-06 13:03] jdp1g09 commented on #621
so, you're good now?

[2020-03-06 13:13] mamoonraja commented on #623
Thanks for the feedback, I will definitely look into error not showing up and adding more comments in example. Glad you figured it out :)

[2020-03-06 13:39] mediumTaj commented on #621
Thanks for the help @jdp1g09 !!

[2020-03-06 13:40] Faalvare commented on #621
yes, thanks :)

[2020-03-06 14:18] mediumTaj commented on #624
I would probably move up to the latest version of Unity if your project doesn't have any dependencies on legacy versions. I'm glad the issue is resolved!

[2020-03-06 14:18] #624 closed

[2020-03-06 14:19] mediumTaj commented on #621
great thanks guys!

[2020-03-06 14:19] #621 closed

[2020-03-06 14:28] mediumTaj commented on #625
Is il2ccp the only way to compile 64 bit android applications? Looks like this is coming from Json.NET. We should look into seeing if we can address this or if it has already been addressed in newer versions.

[2020-03-06 15:13] Faalvare commented on #625
yes, mono is not able to compile 64 bit apps at least in the unity engine. this happens when i call the  `WatsonService.message` im in big trouble here because one of the main features of my app comes with the watson assistant service, and google doesn't allow to publish 32 bit apps, i will still be looking for any solution here, thanks for the help @mediumTaj

[2020-03-06 16:57] Faalvare commented on #625
Looking for information i found this:

https://forum.unity.com/threads/serialization-works-well-in-editor-but-not-on-mobile.803520/

[2020-03-06 20:02] Faalvare commented on #625
Update: Seems like this is the line that causes the problem:

### AssistantService.cs:
`req.Send = Encoding.UTF8.GetBytes(JsonConvert.SerializeObject(bodyObject));`

so indeed, when JSON.net is used to serialize an object it crashed...
i made a couple of test where i used the Json.NET to serialize an object of type `MessageInput` in the same class and it crashed too.. but the strange is,when i use

[2020-03-08 23:59] hitch22 commented on #622
I did read the post and tried making sure the session information was not empty. Hard coded in Lumin 0.98 for os and 0.98 for version. That got rid of the null reference issue, but the Watson Assistant still could not get a response from the server.

[2020-03-13 05:12] emrhio opened #626 "[Assistantv1] [Newtonsoft] Sequence contains no elements problem on built iOS 13.1 and later"
I'm having a problem using sdk core v1.1.1, unity sdk v4.1.1 & unity 2018.4.12f1. When i built for mac or android after installing it, everything works perfect. But on iOS v13.1 and later, once the app launches, i get this error:
[code]
I'm using this code:
[code]
This is my OnCONVMessage:
[code]

[2020-03-18 12:23] Sebastian-Schuchmann opened #627 "[Text-to-Speech-V1] Example does not work well"
**What I am using:**

- Unitiy 2019.3.5f1
- Watson 4.5.0.
- Example: ExampleTextToSpeechV1
- Editor & Build

**Issue:**
First of all, the Example scene works and I can type in a sentence and I get an Audio file back that I can play.

The problem is that it works very inconsistently. As an example, I am sending the sentence "Please type text here and press enter.". Sometimes I get an audio file of

[2020-03-18 12:47] Sebastian-Schuchmann commented on #627
I was just able to reproduce the Error in a completely fresh install of 2018.4.18f (LTS). I am using Windows 10 by the way.

[2020-03-20 08:15] longnh176040 opened #628 "[Speech-To-Text not working] [RESTConnector.ProcessRequestQueue()] [Credentials.OnRequestIamTokenResponse()][ERROR]"
Hi guys,
Im completely new to this. I did everything exactly the same with the tutorials. But when I hit play, i got these issues and I could not find any solution to fix these.
![Screenshot (1)](https://user-images.githubusercontent.com/45277447/77146375-7e62f880-6abd-11ea-8086-564b4b509ff4.png)
![Screenshot (2)](https://user-images.githubusercontent.com/45277447/77146377-7f942580-6abd-11ea-9ae1-

[2020-03-20 16:56] mamoonraja commented on #628
@longnh176040 Looks like an issue with the API key, can you confirm if `apikey` and `url` are correct?

[2020-03-21 07:34] longnh176040 commented on #628
Yes, I just followed this video and did everything the same https://www.youtube.com/watch?v=xKzSzTvRH68

[2020-03-21 17:53] mamoonraja commented on #628
Did you hide the `apikey` in screenshot on purpose, or that's what you have entered in the `apikey` field? If yes, then you need to copy the actual `apikey` instead of hidden characters.

[2020-03-21 18:01] mamoonraja commented on #627
@Sebastian-Schuchmann Thanks a lot for opening the issue and providing detailed feedback. I am able to re-create the issue intermittently. I will try to debug it as soon as I can depending on the bandwidth. You can also use the [older example](https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleTextToSpeechV1.cs#L143) if you are fine with not using WebSocket, this might

[2020-03-21 18:08] #623 closed

[2020-03-22 11:24] Sebastian-Schuchmann commented on #627
Thanks, I completely missed that the non-ws function is still in there. You are correct now it works without a hitch. Great work!

[2020-03-24 11:59] vander-al opened #629 "The type or namespace 'Credentials' could not be found [Unity 2019.3.6f1]"
Followed this [repository](https://github.com/IBM/Watson-Unity-ARKit), simply putting the SDK and SDK Core into the project and immediately getting several line errors with the same problem in the editor. I'm pretty new to this, I really appreciate it if you guys could help me--- thanks!

Assets\WatsonLogic.cs(75,9): error CS0246: The type or namespace name 'Credentials' could not be found (are yo

[2020-03-24 13:06] mamoonraja commented on #629
@vander-al Looks like the repo you mentioned is not maintained anymore. They are using older version of the SDK. You can probably use version `3.x` of SDK to make it work with that repo.

[2020-03-24 13:06] #629 closed

[2020-03-26 21:01] pvanallen opened #630 "Error: could not detect endianness - ExampleStreaming.cs on MacBook Pro"
I get the below error when running the ExampleStreaming.cs example program in Unity. This occurs only on my MacBook Pro (MacBook Pro (15-inch, 2017), MacOS 10.15.3 (19D76). It does NOT happen on my iMac running the exact same code.

* Speech To Text example with microphone recording
* Run the example, and the error occurs after a few seconds
* No transcription occurs
* Watson Unity SDK 4.5.0, Core

[2020-03-27 00:17] pvanallen commented on #630
I also tried this example on VM Ware Fusion running emulating Windows 10, and it worked fine, no errors. I'm checking with my students, so far the problem consistently shows on MacBook Pros.

[2020-03-30 14:37] mamoonraja commented on #630
Hi @pvanallen , I was able to run the example in Mac OS `10.14.5`. Can you provide more info around the error by sharing a screenshot of the Unity window?

[2020-03-30 16:26] pvanallen commented on #630
I'm running MacOS 10.15.3. Here's the screenshot.

![STT-exampleStreaming-bug](https://user-images.githubusercontent.com/1456334/77937000-8ca4d780-7268-11ea-897d-734ac34b21c7.gif)

[2020-03-31 17:16] mamoonraja commented on #630
We can try two solutions here:

- Can you manually update `audio/l16` to `audio/wav` here: https://github.com/watson-developer-cloud/unity-sdk/blob/master/Scripts/Services/SpeechToText/V1/SpeechToTextServiceExtension.cs#L510.

Since, I am not seeing the issue I can not verify this solution. If it works we will update the example to use `wav`.

[2020-03-31 17:30] pvanallen commented on #630
HI @mamoonraja - Thanks for the update. Just a reminder that for testing, the original error happens only on a MacBook Pro, not desktops.

I made the suggested change, but now see the following error in both desktop and laptop.

[03/31/2020 17:23:13][SpeechToText.OnListenMessage()][ERROR] Error: unable to transcode data stream audio/wav -> audio/x-float-array
UnityEngine.Debug:LogError(Object)
IBM

[2020-03-31 17:37] mamoonraja commented on #630
Thanks for testing, we need changes on the core side too to make that change. What's your `MacOs` version in `iMac`?

[2020-03-31 17:39] pvanallen commented on #630
iMac MacOS: 10.15.3

[2020-03-31 17:54] mamoonraja commented on #630
I think it is an underlying hardware issue with `l16` format, I am not able to re-create in MacBook pro, but I am on a different OS version. One thing you can do is change sampling size in https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleStreaming.cs#L58 to `48000`, not sure if it will work. If this doesn't work I will look into adding support for `wav` file in examp

[2020-03-31 18:02] pvanallen commented on #630
Thanks for taking a look... I tried 48000, but same error, with no change to l16.

[03/31/2020 17:57:37][SpeechToText.OnListenMessage()][ERROR] Error: could not detect endianness after looking at the tail 0 non-zero byte string in a data stream of 48000 bytes. Is the bytestream really PCM data?
UnityEngine.Debug:LogError(Object)
IBM.Cloud.SDK.Debug.DebugReactor:ProcessLog(LogRecord) (at Assets/Scr

[2020-03-31 21:40] mediumTaj commented on #630
I've only seen this error when the mic wasn't getting audio - can you ensure your mic is working and pulling audio into Unity?

[2020-04-01 16:39] pvanallen commented on #630
@mediumTaj Thanks for the note - do you have a test in Unity you suggest I run? The mic works fine in other applications.

[2020-04-01 17:06] mediumTaj commented on #630
Can you join the Watson Developer Community slack workspace? We can talk on the #unity-sdk channel.

http://wdc-slack-inviter.mybluemix.net/

[2020-04-01 22:14] mediumTaj commented on #630
Looking into this - it looks like there is an issue with OSX Catalina that may be disallowing recording. Will look into this.

[2020-04-02 17:53] mediumTaj commented on #630
found a thread describing unity not asking for permissions for mic and camera in catalina. might be worth trying the workaround

https://issuetracker.unity3d.com/issues/osx-unity-fails-to-ask-camera-permission-and-crashes-on-privacy-violation?page=1#comments

[2020-04-05 14:41] longnh176040 commented on #628
No, the api key which i pasted was masked automatically. I did nothing different from the above video.

[2020-04-05 14:47] longnh176040 commented on #628
and of course it is not hidden on the web :( just masked automatically when i pasted in unity

[2020-04-07 12:48] mediumTaj commented on #630
From a direct message:

From [this issue](https://issuetracker.unity3d.com/issues/osx-unity-fails-to-ask-camera-permission-and-crashes-on-privacy-violation?page=2#comments)

[2020-04-07 12:48] #630 closed

[2020-04-07 16:06] mamoonraja commented on #628
Interestingly, if you copied the `key` from the `Credentials` tab as shown in the video, it should be masked. Anyways, can you try to copy the actual key instead of `masked` one and see if that works?

[2020-04-07 16:06] #627 closed

[2020-04-07 16:08] mamoonraja commented on #626
Hi @emrhio, sorry I missed this issue somehow. Can you confirm if you are still seeing the issue?

[2020-04-08 02:35] longnh176040 commented on #628
Thank you so much for you help <3 <3. It works now !!

[2020-04-08 12:01] mamoonraja commented on #628
Glad it worked :)

[2020-04-08 12:01] #628 closed

[2020-04-08 15:28] Tenkir opened #632 "Documentation link in Readme.md points to v2.2.0"
https://github.com/watson-developer-cloud/unity-sdk#documentation

Namespaces are out of date, and do not reflect v4.5.0.

[2020-04-10 18:49] emrhio commented on #626
Hi @mamoonraja yeah, it's still happening. I've updated the unity sdk to 4.5 but no luck.

[2020-04-16 19:31] realitygarage commented on #596
getting similar result on Android running on Oculus GO, but android running on samsung tablet works fine - seems to be something with newtonsoft json conversion choking

[2020-04-16 19:42] realitygarage commented on #596
not completely solved yet - but looks to be issue with AOT method - https://docs.unity3d.com/Manual/ScriptingRestrictions.html

[2020-04-17 20:27] realitygarage commented on #625
There seems to be a AOT version of the JsonDotNet DLL in the thirdparty subdir, but my guess is that it was not built to include all the methods required... I believe there is workaround to delete the prebuilt dll, and include this package, and then create helper classes to force the compilation inclusion for the missing functions. Seems that this should have already been done - for text to speech

[2020-04-18 16:04] realitygarage commented on #625
Fixed the iss running the text to speech service with IL2CPP build was throwing exceptions...

see links in previous post

Here are the exceptions and resulting code I created in a AoTHelper that fixed:

EXCEPTIONS
=======
'Newtonsoft.Json.Utilities.CollectionWrapper`1[[System.Nullable`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Version

[2020-04-20 13:21] mamoonraja commented on #632
Hi! @Tenkir , Thanks for opening the issue, the documentation has not been published in a while, we will look into bringing this in during the next major release.

[2020-04-20 13:24] mamoonraja commented on #625
Hi, seems like it's related to your comment around https://docs.unity3d.com/Manual/ScriptingRestrictions.html. You can submit a PR if your workaround fixed the issues, and we'll look into it. I have added a `major release` tag so that we will pull it into workstream while we get ready for that.

[2020-04-23 03:57] #611 closed

[2020-04-28 19:12] davidjbain commented on #596
I had the same error on WebGL and wanted to share my workaround. I ended up switching the newtonsoft.json plugin in the sdk with this one so I could use the AotHelper.

https://github.com/jilleJr/Newtonsoft.Json-for-Unity/wiki/Fix-AOT-using-AotHelper

I had to add two types to stop getting the errors

`using Newtonsoft.Json.Utilities;
using UnityEngine;

public class AotTypeEnforcer : MonoBehaviou

[2020-04-28 20:26] realitygarage commented on #596
yeah - Thanks - I guess I had also answered with more details in:

https://github.com/watson-developer-cloud/unity-sdk/issues/625#issuecomment-616550784

BTW - Do you have a solution for using their watson services SDK for Unity WebGL (which they say the do not support ?)

[2020-04-28 20:57] davidjbain commented on #596
Thanks, sorry I missed that thread. I do not have anything uploaded publicly yet but I was able to recently get the assistant V2 working on WebGL thanks to Taj. You have to use the basicAutheticator with the username and password to avoid a cors issue, and in AssistantService.cs I commented out the Common.GetSdkHeaders headers parts (I was getting "old value is the empty string" error in the build

[2020-05-04 01:34] JaimeCastro0926 commented on #535
https://www.youtube.com/watch?v=ibwcTah-Tog
https://www.youtube.com/watch?v=yus6BG7ngTw

Good evening, share a work created with lexicon in Latin Spanish.
Bogotá Colombia

El mié., 24 jul. 2019 a las 8:55, Ajiemar Santiago (<
notifications@github.com>) escribió:

--
Jaime Castro
Licenciado en electronica
Universidad Pedagógica Nacional

[2020-05-07 14:42] mmoussa opened #635 "[Text To Speech] Received audio is cut off when using WebSockets"
The problem doesn't happen every time, but happens quite often. The code is adapted from the TTS example.
[code]

[code]

[code]

I added some debug messages to WSConnector.cs, and it seems the final chunk of the data is not received sometimes. It is also much larger than the rest of the packets.
Full audio received:
<img src="https://user-images.githubusercontent.com/6563738/81305084-e9f02d80-904

[2020-05-07 17:15] mamoonraja commented on #635
Hi! Thanks for opening the issue, we will try to look into it asap. Meanwhile, you can use the`non-websocket` example here: https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleTextToSpeechV1.cs#L142. If that works for you.

[2020-05-07 17:19] mmoussa commented on #635
Thanks, but I need word timing which is only available using websocket.

[2020-05-12 22:21] realitygarage opened #636 "Watson Unity SDK - no API document in GitHub for the Assistant.v2"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+unity).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the following:

- [ ] Start th

[2020-05-22 17:37] mmoussa opened #637 "[Speech to Text] Enabling timestamps does not work due to wrong data type"
It seems like the same issue was solved for the .NET SDK here:
https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/198

But this issue still persists in the Unity SDK. Changing the TimeStamp WordConfidence data types from List\<string> to string[][] seems to work.

[2020-05-25 01:13] carlose-morais commented on #622
Well, I managed to have a fix for the first exception problem.

What was happening was that Magic Leap Developers describe the SystemInfo.operatingSystem just as "Lumin" and the function SystemInformation.cs on Watson SDK gets the name and version of the OS to send to their server. So I modified this file to be

[code]

But now I am getting to a problem about the version of the Newtonsoft.Json
In

[2020-05-25 14:14] shyamraje1012 commented on #625
I am shyam pandule from india. I am developing 3d voice bot by using unity 2019.3.1f7, vuforia , watson 4.6 sdk from gethub. I created 1)  speech to text 2) voice bot. It works fine in unity playmode and windows pc . but when i create android application. android app  does not work. in condo i get error message with this line.
System.Windows.Forms.dll assembly is referenced by user code, but is no

[2020-05-25 14:38] shyamraje1012 commented on #613
I am developing 3d voice bot by using unity 2019.3.1f7, vuforia , watson 4.6 sdk from gethub. I created 1)  speech to text 2) voice bot. It works fine in unity playmode and windows pc . but when i create android application. android app  does not work. in condo i get error message with this line.
System.Windows.Forms.dll assembly is referenced by user code, but is not supported on Android platform

[2020-05-25 15:17] shyamraje1012 commented on #3
I am developing 3d voice bot by using unity 2019.3.1f7, vuforia , watson 4.6 sdk from gethub. I created 1)  speech to text 2) voice bot. It works fine in unity playmode and windows pc . but when i create android application. android app  does not work. in condo i get error message with this line.
System.Windows.Forms.dll assembly is referenced by user code, but is not supported on Android platform

[2020-05-25 15:18] shyamraje1012 opened #639 "@Watson failed to deploy on android with system.window.form.dll error"
I am developing 3d voice bot by using unity 2019.3.1f7, vuforia , watson 4.6 sdk from gethub. I created 1)  speech to text 2) voice bot. It works fine in unity playmode and windows pc . but when i create android application. android app  does not work. in condo i get error message with this line.
System.Windows.Forms.dll assembly is referenced by user code, but is not supported on Android platform

[2020-05-27 15:47] mamoonraja commented on #639
@shyamraje1012 Thanks a lot for opening the issue, looks like it's coming from an underlying library, can you provide a full trace of error message

[2020-05-30 22:45] FLYINGSKATE commented on #554
Paste this class before Form and after Response Class in RESTConnector.cs

/// <summary>
        /// Class to encapsulate an error returned from a server request.
        /// </summary>
        public class Error
        {
            /// <summary>
            /// The url that generated the error.
            /// </summary>
            public string URL { get; set; }
            /// <summary>

[2020-06-03 03:44] sanky369 commented on #568
Has this issue resolved? I am getting the same error. Unity 2018.4.0f1 and latest watson SDK from github.
Assembly has reference to non-existent assembly 'UnityEngine.TestRunner' (Assets/Scenes/unity-sdk-core-1.2.0/Tests/IBM.Cloud.SDK.Tests.asmdef)

[2020-06-03 07:26] JPM87 opened #641 "[Speech-To-Text] using keywords will corrput service"
Hi I am trying to use the keyword feature to detect words in text.
When using this feature the KeepAlive exited immediately and no voice recognition is available anymore.

- [ ] Steps to reproduce:
  Use the ExampleStreaming Scene and insert following lines of Code after line 112

  `_service.Keywords = new[] { "hallo" };`
  `_service.KeywordsThreshold = .5f;`

- [ ] Expected behavior
  When using

[2020-06-04 19:02] dclaresr opened #642 "watson services work properly in unity editor but not when i compile for android"
Hello,
I am making a virtual reality app and I am currently using the services "conversation", "speech to text" and "text to speech", in the unity editor it works perfectly for me but when I compile for android it does nothing,
When I check the log in the ADB console what I have is this:
[log.txt](https://github.com/watson-developer-cloud/unity-sdk/files/4732160/log.txt)
There are several null exc

[2020-06-05 17:57] mamoonraja commented on #642
Hi @dclaresr , thanks a lot for opening the issue, can you put a debug log here: https://github.com/IBM/unity-sdk-core/blob/master/Utilities/CredentialUtils.cs#L216 or provide me how your env variables are setup? Looks like issue is happening in that method where we try to map credentials. Thanks!

[2020-06-05 17:58] mamoonraja commented on #641
Hi @JPM87 , thanks a lot for opening the issue, I will try to debug it soon and get back to you.

[2020-06-06 02:55] dclaresr commented on #642
I am using the examples that come in the SDK, with some modifications for the interactions between them

https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleStreaming.cs
https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleAssistantV2.cs
https://github.com/watson-developer-cloud/unity-sdk/blob/master/Examples/ExampleTextToSpeechV1.cs

[log2.tx

[2020-06-09 19:23] #626 closed

[2020-06-24 07:49] longnh176040 opened #644 "SpeechToText.OnListenMessage() not working"
Hi guys,

Normally, the speech to text works fine for me. But today, I got a strange problem. Whenever the  StartRecording() function is called, it gave me an ERROR like this "[SpeechToText.OnListenMessage()][ERROR] Error: '>' not supported between instances of 'float' and 'NoneType'. "
I'm using unity 2019.2.12f1, and I haven't fixed any scripts.
So what is the main problem and how can I fix it ?

[2020-06-24 15:08] mamoonraja commented on #644
Hi @longnh176040 , thanks for opening the issue, which version of SDK are you using? and are you using the example code as is, or you have made customizations?

[2020-06-24 15:08] #637 closed

[2020-06-24 17:13] longnh176040 commented on #644
I'm using unity 2019.2.12f1 and using the example code, haven't changed anything :( .
I've been searching that error on google for a while, some answers said that error came from web socket or callback or something. But I still can't find out the issue and how to fix it...

[2020-06-24 17:19] mamoonraja commented on #644
I meant the SDK version, not the Unity version. Also, which plan of STT service are you using? `lite` or `standard`?

[2020-06-25 02:42] jecheverria-dev opened #645 "Speech to Text example not working properly."
Hi there, I am currently trying to run the Speech to Text example provided by the repository. I have completed the following steps:

-Make sure API compatibility is set to NET 4.X
- Download and place both the latest sdk and sdk core
- Create the Speech to Text Service in the IBM Cloud website in order to receive credentials
- Open streaming example and place both the unmasked API Key and Service

[2020-06-25 13:32] mamoonraja commented on #645
@jecheverria-dev thanks a lot for opening the issue. Looks like WebSocket is timing out. Are you sure the microphone works fine? seems like audio is not getting picked up and silence has been sent.

[2020-06-25 15:02] jecheverria-dev commented on #645
Hi @mamoonraja, I just tried it on a new machine, and it worked perfectly! Thank you again for the help. For others with similar problems, try using either another machine or an external microphone. Thanks again!

[2020-06-25 15:02] #645 closed

[2020-06-25 15:13] longnh176040 commented on #644
can u elaborate on that ? what do you mean by "SDK version", of what ?
Im using the lite service. I also thought that my STT is expired, but I tried another one from a different account and still got the same error....

[2020-06-25 16:10] longnh176040 commented on #644
if you are asking about the unity sdk version, I dunno what it is. I downloaded both unity-sdk and unity-sdk-core from March.
Did you just release a new sdk ? Does it affect to the one that I am using ?

[2020-06-25 17:06] dclaresr commented on #642
in the unity Widget

[2020-06-27 03:44] #632 closed

[2020-06-27 19:07] DOUCOUREALY commented on #644
@longnh176040 @mamoonraja  please can someone help me . I have the same error.
![Capture](https://user-images.githubusercontent.com/67519171/85930143-c316e080-b8b1-11ea-858f-f74d67a534ad.PNG)

[2020-06-29 14:08] mamoonraja commented on #644
@longnh176040 there's not breaking change since March so it should not affect it. My guess was around you running out of `lite` plan initially. But @DOUCOUREALY is also running into the issue, so let me see debug it once and I'll get back to you.

[2020-06-29 14:10] mamoonraja commented on #642
Try setting up the env file, it's possible that android is having issues with unity widget. I don't have an android device to test on, so I can not debug it :(

[2020-06-29 14:22] dombarnard1 commented on #644
I've getting the same issue too. I'm not on the Lite plan.

[2020-06-29 14:26] DOUCOUREALY commented on #644
Update the version of sdk To the last. It work for me.

Le lun. 29 juin 2020 à 15:23, dombarnard1 <notifications@github.com> a
écrit :

[2020-06-29 14:37] dombarnard1 commented on #644
Thanks DOUCOUREALY. I updated the SDK to the latest (unity-sdk-4.7.1) and there are no more issues.

[2020-06-29 14:47] DOUCOUREALY commented on #644
What is exatly your error ?

Le lun. 29 juin 2020 à 15:37, dombarnard1 <notifications@github.com> a
écrit :

[2020-06-29 15:05] dombarnard1 commented on #644
I have no errors now, the update fixed the error I was having (which was the same as you had)

[2020-06-29 15:08] DOUCOUREALY commented on #644
Si it's ok now ?

Le lun. 29 juin 2020 à 16:06, dombarnard1 <notifications@github.com> a
écrit :

[2020-06-29 15:10] mamoonraja commented on #644
@dombarnard1 @DOUCOUREALY thanks for confirming! @longnh176040 please re-open if you see the issue again.

[2020-06-29 15:10] #644 closed

[2020-06-29 15:15] dombarnard1 commented on #644
@DOUCOUREALY yes, all is okay now thank you.

[2020-06-29 15:18] DOUCOUREALY commented on #644
You are welcome .

Le lun. 29 juin 2020 à 16:15, dombarnard1 <notifications@github.com> a
écrit :

[2020-07-07 17:28] DelManari opened #646 "Not Working With Vuforia AR Camera"
When trying the watson with Vuforia sdk For Unity3d AR apps not working!

[2020-07-07 17:43] mamoonraja commented on #646
@DelManari Thanks for opening the issue, what kind of issues are you running into?

[2020-07-07 23:23] DelManari commented on #646
when am trying to use watson SDK with Vuforia SDK i got errors like
Namespace '<global namespace>' contains a definition conflicting with alias 'Utility'

[2020-07-07 23:26] DelManari commented on #646
![image](https://user-images.githubusercontent.com/32303930/86855113-9f257d00-c0b1-11ea-8bbb-3a8b429b6c2b.png)

[2020-07-19 02:29] #636 closed

[2020-07-26 11:12] StavEW opened #647 "VisualRecognitionService does not work"
Hey,

So I've been trying to use the VisualRecognitionService in Unity without any luck

First of all, both the "Getting started with Visual Recognition" and "API reference" has code issues.
If you'll just copy pate the code into a brand new script, it won't work because of some small referencing things like "reponse" and "response"

anyway, once fixed the small issues, when I'm trying to execute

[2020-07-27 12:57] mamoonraja commented on #647
@StavEW Thanks a lot for opening the issue and bringing the documentation issues to our attention. Can you please provide how you are importing the `VisualRecogniton` service? for example, is it like this: `using IBM.Watson.VisualRecognition.V3;`

[2020-07-27 13:37] StavEW commented on #647
Sure,

I pretty much took everything possible
I've also tried switching between v3 and v4 without any luck

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.Networking;
using System.IO;
using UnityEngine.UI;
using TMPro;
using IBM.Watson.SpeechToText.V1;
using IBM.Cloud.SDK;
using IBM.Cloud.SDK.Authentication;
using IBM.Cloud.SDK.Authentication.Iam;

[2020-07-27 14:15] mamoonraja commented on #647
Hmm, weird that it's happening, I was able to run the example using `V3`, can you provide which version of `IBM.Cloud.SDK` and `Unity SDK` are you using?

[2020-07-27 14:25] StavEW commented on #647
Sure,

SDKCore (1.2.1)
Watson (4.7.1)

There's no example scene in the SDK for the "VisualRecognitionService"

[2020-07-30 12:01] ChrissiOu opened #648 "[text-to-speech] TTS aborts while speaking probably because of keep alive highhat of STT"
Hello!

I combined the ExampleStreaming script and ExampleTextToSpeechV1 script to create an Q&A System. Everything works fine. When TextToSpeech is speaking and Keep Alive play high Hat executes, the speaking aborts. How can I use both services together, without them influencing each other badly?

Hope you can reproduce my issue. Thanks for your help!

[2020-08-01 09:07] #622 closed

[2020-08-01 09:07] #625 closed

[2020-08-02 19:17] #639 closed

[2020-08-04 09:33] AhmadIftikhar commented on #646
You need to move this line
`using IBM.Cloud.SDK.Utilities.Utility;`
in the Namespace that fixes the issue

[2020-08-06 12:10] kpprt commented on #635
I'm having the same issue with data being cut off at the end using websocket. Is this still being worked on?
I already have the non-websocket version running, but I'd like to switch to websocket for streaming the audio while it is still being downloaded. I hope to get a faster startup time, especially when the audio gets longer and therefore bigger.

[2020-08-11 13:19] mamoonraja commented on #635
@kpprt we have the issue in the backlog, I will look at it next week.

[2020-08-11 13:20] mamoonraja commented on #648
@ChrissiOu Hi, thanks for opening the issue, We have the TTS WebSocket issue in unity SDK in our backlog. I will take a look at it next week. Thanks a lot for the patience.

[2020-08-12 09:15] kpprt commented on #635
Perfect! Thank you, @mamoonraja !

[2020-08-20 04:16] LuckyAnix commented on #325
Working fine in the unity editor but in exe build it throwing error. Seems token empty. Can anyone help ?
InvalidOperationException: Nullable object must have a value.
  at System.Nullable`1[T].get_Value () [0x00000] in <00000000000000000000000000000000>:0
  at IBM.Cloud.SDK.Authentication.Iam.IamToken..ctor (IBM.Cloud.SDK.Authentication.Iam.IamTokenResponse response) [0x00000] in <000000000000000

[2020-08-20 04:21] LuckyAnix opened #650 "EXE build throwing error"
Working fine in the unity editor but in exe build it throwing error. Seems token empty. Can anyone help ?
InvalidOperationException: Nullable object must have a value.
at System.Nullable1[T].get_Value () [0x00000] in <00000000000000000000000000000000>:0 at IBM.Cloud.SDK.Authentication.Iam.IamToken..ctor (IBM.Cloud.SDK.Authentication.Iam.IamTokenResponse response) [0x00000] in <00000000000000000000

[2020-08-25 14:40] tomszirtes opened #651 "[speech-to-text] WebSockets CSharp DLL conflict"
### When reporting a bug, please be sure to include the following:

- [ ] Steps to reproduce
- Create Unity Project
- Import Watson Unity SDK
- Import another SDK using websocket-sharp.dll

- [ ] Expected behavior
Would work with other SDK requiring websockets connecting to different services.

- [ ] Actual behavior
Compiled fails with error message:
PrecompiledAssemblyException: Multiple precompi

[2020-08-26 14:54] mamoonraja commented on #635
Hi guys, I spent some time on this and looks like WebSocket is closing connection earlier than it should. Can you confirm if changing the wait time in https://github.com/IBM/unity-sdk-core/blob/master/Connection/WSConnector.cs#L482 helps? I was able to make it work but I need to spend more time on it. If it works we can provide the wait time as a feature if it helps. Otherwise, we might need to ge

[2020-08-27 13:09] mamoonraja commented on #650
@LuckyAnix thanks for opening the issue, can you provide more info like what Unity version are you using. Which Sdk version are you using, and which version of SDK are you using?

[2020-08-28 04:38] LuckyAnix commented on #650
Hi, I am using unity version : 2019.4.7f1
sdk core i am using : unity-sdk-core-1.2.1

[2020-08-28 08:44] kpprt commented on #635
Hi @mamoonraja, Thanks for looking into it! Unfortunately changing the wait time didn't help. The end of the audio is still cut off occasionally. I tried 100, 200 and 500, but I didn't recognize any differences. The version of the SDK is 4.8.0 and 1.2.1 for the core (currently latest).

[2020-08-28 09:59] kpprt opened #652 "[text-to-speech] Get length of the audio when connecting via Websocket (WS)"
When using a Websocket connection to stream the audio we currently don't know when we have reached the end. Is it possible to either
- get the full length of the audio at the start of the stream (if possible) or
- get a signal from the server - respectively an event from the SDK - when the stream has finished?

Thanks for the support!
Chris

[2020-08-28 13:50] mamoonraja commented on #635
@kpprt Thanks for confirming, I will look into what's going on at server-side and get back to you, thanks for the patience.

[2020-09-05 19:47] #642 closed

[2020-09-17 09:49] ChrissiOu commented on #648
@mamoonraja Hi, do you have already made progress with my problem? Have you been able to reproduce it? Thankts for your effort!

[2020-09-18 12:56] castana1962 opened #653 "Are the Acoustic model customization available in this SDK?"
Hi, I am building Rehabilitation Treatments by VR Games and I am going to use the Speech to Text/Acoustic model customization. The main goal is helping to patients cannot modulate the words in a clear way and improve this one, for it, and only to confirm it,  Is Acoustic model customization available in this Unity SDK?
Thanks for your time.
Alejandro Castan

Remember, an issue is not the place to

[2020-09-18 13:09] mamoonraja commented on #652
@kpprt Thanks for opening the issue, which version of SDK are you using, and can you provide me a snippet of how you are implementing it, or are you using one of our example snippets?

[2020-09-18 13:23] mamoonraja commented on #651
We did fix it in the core in the [past](https://github.com/IBM/unity-sdk-core/commit/d9b0bc9b5126069bb38cf8e85f37c1f57a0ff58e), seems like just updating the library path does not help. I am adding a major release label and we will take a look at it in our upcoming major release. Were you able to figure out how to solve it for now?

[2020-09-18 13:23] mamoonraja commented on #650
what about the `unity-sdk` version, is it the latest one?

[2020-09-18 13:25] mamoonraja commented on #641
@JPM87 can you still reproduce this issue?

[2020-09-18 13:27] mamoonraja commented on #648
@ChrissiOu I have made both of them work separately and it works, do you have a snippet of how you are trying to use them together. That will help with debugging.

[2020-09-18 14:37] kpprt commented on #652
@mamoonraja Thanks for the reply! We are using the currently latest version: 4.8.0. I can provide a snippet, but it will take some time to throw out unrelated stuff.

I couldn't find an example for TTS with Websockets, but if there is one I'd be happy to have a look at it.

[2020-09-18 20:15] kpprt commented on #652
Hi @mamoonraja You can find a simplified example here:
https://gist.github.com/kpprt/bba2b187e2cc3ac70014a61c72f3c83a

Simply drop the MonoBehaviour into a new Scene with a default Camera and an AudioListener. Also make sure to enter valid credentials in the Serialized Fields.

We normally use async await functions instead of Coroutines, but I rewrote it so it works without any additional tools.

[2020-09-22 22:33] mamoonraja commented on #653
Hi @castana1962 , thanks for using Unity SDK for your project. We do provide support for models in STT, see https://cloud.ibm.com/apidocs/speech-to-text?&code=unity#createlanguagemodel and also https://cloud.ibm.com/docs/speech-to-text?topic=speech-to-text-languageCreate#createModel-language.

[2020-10-01 19:00] castana1962 commented on #653
Hi @mamoonraja
Thanks for your support
Best Regards
Alejandro

[2020-10-02 14:38] mamoonraja commented on #635
Hi guys, we do have an issue opened on the service side for this one, I will provide more info once I have it.

[2020-10-04 13:48] ChrissiOu commented on #648
@mamoonraja the file contains my script for the STT and TTS. The Answermanager finally receives the recognized text and returns an answer to synthesize in line 520. Everything works except when "KeepAlive play high" is executed while TTS service is talking.
Thanks for helping!
[ExampleSTTWithTTS.txt](https://github.com/watson-developer-cloud/unity-sdk/files/5323308/ExampleSTTWithTTS.txt)

[2020-10-04 22:39] PowZone commented on #647
Hello,
I'm looking for an example scene of the **VisualRecognitionService** too.
Do you plan to add it to repository?

[2020-10-12 01:17] #646 closed

[2020-10-12 10:10] GaryQuahVizioFly opened #654 "Hi , i created a button that calls record and stop record. However, after stopping the recording after awhile of idle time, i get an exception error of"
Remember, an issue is not the place to ask questions. If you have issues with the APIs or have a question about the Watson services, see [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-watson+unity).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the following:

- [ ] Start th

[2020-10-12 10:14] GaryQuahVizioFly opened #655 "[Speech to text] Thread aborting error"
Hi, I was playing around with this SDK, and so far its pretty good. However, i encountered an issue that im not quite sure how to resolve.

- [ ] Steps to reproduce
   - Button onclick calls StartRecording / StopRecording based off a toggle bool.
   - After awhile, thread abort error comes out.
   - [WSConnector][ERROR] Caught WebSocket exception: System.Threading.ThreadAbortException
  at (wrappe

[2020-10-14 07:21] GaryQuahVizioFly commented on #655
Update , fixed session tm

[2020-10-14 07:21] #655 closed

[2020-10-19 04:59] #654 closed

[2020-10-27 14:40] StavEW opened #656 "[Speech to text] Access to path is denied (Mac)"
Hi,
I've been using speech to text and everything works great, except when I compile a build trough Xcode for Mac

This is the error I get:

System.IO.Directory.InsecureGetCurrentDirectory () (at <fb001e01371b4adca20013e0ac763896>:0)
System.IO.Directory.GetCurrentDirectory () (at <fb001e01371b4adca20013e0ac763896>:0)
IBM.Cloud.SDK.Utilities.CredentialUtils.GetFilesToCheck () (at <9265dc5ba7cf4f39b

[2020-10-29 15:21] kpprt commented on #652
@mamoonraja Hi Mamoon, is there any update on this matter? I saw that there is an OnListenClosed method in the TextToSpeechService.cs, but unfortunately that event is not available from outside the SDK.

[2020-10-29 17:46] mamoonraja commented on #652
Hi, we still don't have any new updates on #635. But you can use `onClose` method to look for when the connection is closed. Seehttps://github.com/watson-developer-cloud/unity-sdk/blob/master/Scripts/Services/TextToSpeech/V1/TextToSpeechServiceExtension.cs#L218

[2020-10-29 17:49] mamoonraja commented on #656
@StavEW Thanks a lot for opening the issue. Seems like a permissions issue to me. I am not familiar with how Xcode's sandbox set up permissions, SDK is trying to read credentials from the file. Maybe try providing the credentials in the authenticator instead of via credentials file.

[2020-11-01 17:28] StavEW commented on #656
@mamoonraja
Ok, this is a super easy fix!

The background:
In order to submit an app to the Mac's App Store, you must enable sandbox.
Once enabling it, the app will have limited file access, nothing to do about it.
When trying to enable the speech to text services, the plugin will try getting the service properties via three different ways, "credential file", "environment variables" and "VCAP_SERV

[2020-11-16 07:20] kuravista commented on #568
I am getting same problem too.. any suggestion ?
- SDK v4.8.0
- unity-sdk-core v1.2.1
- unity 2018.3.3f1

[2020-11-28 14:01] creichel commented on #635
@mamoonraja Hi! Are there any news for this issue? I'd like to use this feature as well but I am not sure if it's ready to be used..

[2020-11-29 11:57] #651 closed

[2020-11-29 11:57] #650 closed

[2020-11-29 11:57] #641 closed

[2020-12-20 11:36] StavEW opened #665 "Universal Windows Platform - Won't build"
Hi,

Whenever I try building on UWP, I get 195 errors.
Didn't had this problem on IOS, OSX, Standalone PC and Android.

Watson (4.8.0)
SDKCore (1.2.1)
Unity (2019.4.10f)

I know there's a Watson (5.0.0) version, but the errors are from the SDKCore (and there is no newer version for it)

Thanks!

[2020-12-24 11:25] #653 closed

[2021-01-16 20:00] alessiograncini opened #667 "Assistant V2 not working on Magic Leap Build"
Hello everyone, I did managed to run streaming services on Magic Leap (speech to text) - unfortunately not still able to use the Assistant v2 and the Text To Speech features. It work flawlessly on editor and Z-Iterator but when I build seems like the assistant service does not start at all.

More precisely. I believe I am encountering issues discussed previously here.
https://github.com/watson-dev

[2021-01-18 03:19] alessiograncini commented on #667
Just wanted to update the request. I managed to make it work and I would like sharing my solution for anyone else in the same spot.

**Step 01**
Make sure you are using 2019.3.15f1 and magic leap SDK 24.1 / API 8 / All permissions checked / .NET 4 is checked/ Watson v5.0.1/v1.2.1

**Step 02**
delete the json-net-for-unity that the Watson SDK provides and replace it with this
https://github.com/jil

[2021-01-19 19:51] #656 closed

[2021-01-23 01:32] alessiograncini commented on #667
. After seeing the following sources online

https://github.com/watson-developer-cloud/unity-sdk/issues/566

https://github.com/watson-developer-cloud/unity-sdk/issues/622

https://forum.unity.com/threads/newtonsoft-json-with-magic-leap.651034/

. The solution have been founded at this link. It is required a script that forces the serialization

(AoT helper)

https://github.com/watson-developer-cl

[2021-03-11 09:35] JPM87 commented on #652
@mamoonraja Can you explain why the header does not contain the correct chunk length? Instant audio streaming is the reason why I would prefer websockets to the rest service... The hack only applies if we have to full audio clip available....

[2021-03-15 03:40] tinnystudios opened #672 "[Natural Language Understanding] Example can't run all example coroutines"
**Steps to reproduce:** Launch Natural language understanding example with the correct credential from your cloud api.
**Expected Behaviour:** Analysis result logged.
**Actual Behaviour:** 403 error code and no analysis result logged
**Version:** 5.0.2

Looking into the code example more, line 77 to 80. If I comment out Runnable.Run(ExampleListModels()) & Runnable.Run(ExampleDeleteModel()). The an

[2021-03-17 21:01] mediumTaj commented on #667
Glad you figured it out - sorry we don't have a magic leap device to test with.

[2021-03-17 21:01] #667 closed

[2021-03-26 13:23] nahalnrz opened #674 "Speech to text example streaming is not working"
I was trying the example streaming tutorial in Unity based on the IBM Watson YouTube instructions. I am using Unity version 2019.2.13.
Initially, I only added the Apikey that I got from IBM to the exampleStreaming script and I got the lines below in the console:

[SpeechToText.CreateListenConnector()][DEBUG] Created listen socket. Model: en-US_BroadbandModel, parsedParams:
[ExampleStreaming.Record

[2021-03-29 15:07] mediumTaj commented on #674
Thanks @nahalnrz - can you provide an example of how you are authenticating the service? Do not include your apikey.

[2021-03-29 15:55] nahalnrz commented on #674
Hi @mediumTaj. Thank you for your quick response. I'm not sure if I am answering your question correctly but I followed the steps in the second Watson Unity SDK tutorial on YouTube. I added the text-to-speech service in my IBM cloud account and from the service credentials tab copy and pasted my apikey and URL. As in the tutorial, when adding the service, I kept my "region" as Dallas (although I a

[2021-03-29 16:34] mediumTaj commented on #674
Did you create a text to speech service instance or a speech to text service instance? You mention text to speech above.

[2021-03-29 16:38] nahalnrz commented on #674
Sorry, my bad. I created an speech to text service instance.

[2021-03-29 17:00] mediumTaj commented on #674
Come join #unity-sdk channel in our public slack workspace http://wdc-slack-inviter.mybluemix.net/

It might help to talk there

[2021-03-30 14:13] #674 closed

[2021-04-25 12:39] bomanden commented on #635
I know this is an old issue , has anyone tried the newly release .net standard 2.0 version ?
https://www.nuget.org/packages/IBM.Watson.TextToSpeech.v1/5.2.0-rc1
https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/websockets-rc/src/IBM.Watson.TextToSpeech.v1/StreamingExample/ServiceExample.cs#L55-L101

[2021-06-15 02:18] SrNeper commented on #665
Hello StavEW

I Hope you managed to solve your problem because I have a similar problem and maybe you can help me.

I had create a new project in Unity(2020.3), to test the Watson SDK 5.0 updates and see if I could use it to update a project I developed with 3.4

1. Upon opening it, I followed the step-by-step and updated NetFramework to 4x

2. I created a folder for Watson and threw the unzipped

[2021-06-21 05:11] StavEW commented on #665
Hi,

From what I can remember, it was something to do with their .dll and .asmdef files not being configured for windows platform
Try setting the UWP platform setting on the "websocket-sharp" file (SDK - Any SDK, ScriptingBackend to IL2CPP,  Don't process - unchecked)
Also, try checking if the "Newtonsoft.Json" file has a WSA Player/Editor checked

Hope it helps,

Steve
___________________________

[2021-06-26 02:59] #647 closed

[2021-06-26 02:59] #648 closed

[2021-06-26 02:59] #672 closed

[2021-06-26 02:59] #652 closed

[2021-07-21 00:23] #635 closed

[2021-08-07 16:46] YujiaZhai2020 opened #679 "error when running it on real device"
Hi, I've run this project properly in the unity editor, but when I built and ran this project on my iphone, I can't use the watson assistant, it says " Unity Exception NullReferenceException: Object reference not set to an instance of an object : SimpleBot.OnMessage (IBM.Cloud.SDK.DetailedResponse`1[T] response, IBM.Cloud.SDK.IBMError error) (at Assets/Scripts/SimpleBot.cs:222)" on the Xcode conso

[2021-08-07 16:51] #679 closed

[2021-08-07 16:51] YujiaZhai2020 commented on #679
solved

[2021-09-07 14:29] RadekKazbundaAtMama commented on #652
Streaming is starting before the input text is fully processed, so the actual output length is not yet know. TTS service is designed to process very long inputs in a streaming way, so: TTS service will start streaming audio when it has first few 100ms of audio available, at that moment it does not know how much audio will have to produce or how to process the rest of input text.

[2021-12-15 21:58] #665 closed

[2022-01-05 15:45] jjtindale commented on #253
Using the NodeJS SDK ([ibm-watson](https://www.npmjs.com/package/ibm-watson)) with websockets, we had to use a short recording of background noise to stop the session timing out. Generated silence didn't work. Hopefully this helps someone.

[2022-01-09 08:42] WarriorWork commented on #325
Me too, when I changed newtonsoft.Json to newer... what can I do? have you solved it?

[2022-01-21 20:14] Karim-Sheetos2269 opened #685 "Play Record in ExampleStreaming.cs"
Hi ,
I want to play recording , how please?

[2022-04-11 20:55] lycronos opened #688 "[Unity-Android] Watson Assistantv2, ExampleStreaming, ExampleTextToSpeechV1"
Hi,
I have a problem i create a project using Assistantv2, ExampleStreaming, ExampleTextToSpeechV1, it's work fine but when i build in android doesn't work and they show me this logs errors in the Phone:

 Unity Exception NullReferenceException: Object reference not set to an instance of an object. : IBM.Cloud.SDK.Utilities.CredentialUtils.GetEnvCredentialsAsMap (System.String serviceName) (at <00

[2022-04-11 20:58] lycronos commented on #688
i actualy use unity-sdk-6.0.0, unity-sdk-core-1.2.4 and unity 2020.3.16f

[2022-04-12 05:00] YogeshShre opened #689 "[Watson Unity sdk] Apk build not working properly in Il2cpp backend scripting"
`- [ ] Steps to reproduce
Go to Examples folder of the unity sdk.
select Example Text to speech V1.
switch the platform to android.
Build the app using the setting the backend scripting to Il2cpp.
- [ ] Expected behavior
 It works fine in the editor and also in the build with mono backend scripting. It should have responded to the text entered.
- [ ] Actual behavior
 The app opens but does not res

[2022-04-28 02:11] #685 closed

[2022-06-22 15:14] CitizenZultron opened #690 "The type or namespace name 'NaturalLanguageClassifier' does not exist in the namespace 'IBM.Watson' (are you missing an assembly reference?)"
Starting Watson In unity Generates bunch of errors

The type or namespace name 'NaturalLanguageClassifier' does not exist in the namespace 'IBM.Watson' (are you missing an assembly reference?)
The type or namespace name 'NaturalLanguageClassifier' does not exist in the namespace 'IBM.Watson' (are you missing an assembly reference?)
The type or namespace name 'PersonalityInsights' does not exist in

[2022-06-22 15:18] #690 closed, assigned to nobody

[2022-07-29 09:33] jpingen opened #691 "[speech-to-text] Connection immediately closed in Android build, works fine in editor"
Hi, I'm having issues with getting speech-to-text to work in an Android build. Everything works fine in the Unity Editor.

Unity version: 2021.3.6f1
Watson unity-sdk: v6.0.0
IBM unity-sdk-core: v1.2.4
Scripting backend: IL2CPP
Api compatibility level: .NET Framework (I tried switching to .NET Standard 2.1, but it results in a compilation error `IBMSdkCore\Connection\RESTConnector.cs(668,24): error

[2022-08-08 13:26] jpingen commented on #691
It appears to run fine as an Android app for mobile.
However, when building an Android apk for the Oculus Quest (same setup, only added an XR rig so it runs on VR) the problem occurs.

@mediumTaj ?

[2022-08-16 15:06] likwifi opened #692 "Getting "namespace 'IBM.Watson' does not exist" during setup."
Getting 12 similar errors on Unity 2021.3.8f1 silicon Mac with IL2CPP module.
Both sdk core, and sdk master present under Assets.

<img width="705" alt="Screen Shot 2022-08-16 at 19 00 42" src="https://user-images.githubusercontent.com/1791670/184913423-fde43fe0-21d7-4354-a767-23b05bb5b8a0.png">

[2022-11-05 23:52] T-Ender commented on #692
I'm having the same issue did you ever figure it out?